@import 'base/api.scss';
.footer-block {
    margin: {
        top: 45px;
        bottom: 30px;
    }
    border-top: 1px solid $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font: {
        family: 'Arial Regular' $font-fallback;
        weight: 400;
        font-size: 12px;
    }
    @include mq('sm') {
        flex-direction: row;
    }
}