@import 'base/api.scss';
.header {
    &-nav-section {
        background-color: $banner-color;
        color: $header-text-color;
        padding: {
            top: 30px;
            bottom: 30px;
        }
        .top-line {
            font-size: 16px;
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: {
                    bottom: 15px;
                }
                @include mq('sm') {
                    justify-content: space-between;
                }
                @include mq('lg') {
                    justify-content: flex-start;
                    padding-bottom: 0;
                }
                &__subtitle {
                    display: none;
                    text-align: right;
                    @include mq('sm') {
                        padding-left: 12px;
                        display: block;
                    }
                    @include mq('lg') {
                        text-align: center;
                    }
                }
            }
            &-contact {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @include mq('sm') {
                    justify-content: flex-start;
                    flex-direction: row;
                }
                &--number {
                    font-size: $font-md-small;
                }
                &--subtitle {
                    padding-left: 0;
                    @include mq('sm') {
                        padding-left: 34px;
                    }
                    p {
                        border-bottom: 1px, dotted, white;
                        margin-bottom: 0;
                       
                    }
                }
            }
        }
    }
    &-section {
        background: {
            image: url('img/main_picture.png');
            size: cover;
            position: center center;
        }
        height: 600px;
        padding: {
            top: 274px;
            left: 28px;
        }
        &-label {
            font-family: 'Trebuchet MS Regular';
            width: 230px;
            height: 230px;
            border-radius: 50%;
            background-color: rgba(255, 242, 0, 0.7);
            text-align: center;
            font-weight: 700;
            &__title {
                font-size: 25px;
                line-height: 30px;
                padding-top: 30px;
            }
            &__subtitle {
                font-size: $font-xs-small;
                text-transform: uppercase;
                padding-top: 21px;
            }
            &__number {
                font-size: 24px;
                color: white;
                background-color: black;
                width: 109px;
                margin: 0 auto;
            }
        }
    }
}

.info {
    font-family: 'Trebuchet MS Regular' $font-fallback;
    position: relative;
    &-section {
        z-index: 1;
        margin-top: 150px;
        @include mq('md') {
            margin-top: 30px;
        }
        &-description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: {
                size: $font-sm-small;
            }
            @include mq('lg') {
                font-size: $font-md-small;
            }
            &__title {
                border-bottom: 2px solid #7f7f7f;
                font-weight: 700;
                font-size: $font-sm-small;
                margin: 0;
                @include mq('lg') {
                    font-size: $font-md-small;
                }
            }
            .fa-star {
                color: #ffc20e;
            }
            &__price {
                font-weight: 700;
            }
        }
        &-assessment {
            font-family: 'Arial';
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 38px;
            overflow-x: scroll;
            margin-bottom: 37px;
            @include mq('md') {
                overflow-x: visible;
            }
            &__text {
                font-size: $font-xs-small;
                font-weight: 700;
                min-width: 95px;
                span {
                    font-weight: 400;
                    color: $text-color;
                }
            }
            &__number {
                width: 50px;
                height: 50px;
                background-color: $banner-color;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                line-height: 50px;
                margin: {
                    right: 10px;
                    left: 10px;
                }
                padding: {
                    right: 5px;
                    left: 5px;
                }
            }
            &__rating {
                font-size: 12px;
                color: $text-color;
                text-transform: uppercase;
                font-weight: 400;
                padding-right: 10px;
                span {
                    font-weight: 700;
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
    &-days {
        z-index: 0;
        top: -35px;
        right: 95px;
        width: 160px;
        font-weight: 400;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        &:after {
            content: '';
            position: absolute;
            right: -63%;
            bottom: 51%;
            width: 0;
            height: 0;
            border: {
                top: 170px solid transparent;
                left: 343px solid transparent;
                right: 140px solid transparent;
                bottom: 130px solid $header-text-color;
            }
            z-index: -1;
        }
    }
}