@import "fonts";
@import "var";
@import "components";
@import "base/api.scss";
@include mq("tablet-wide") {
    padding-top: 110px;
}

.top-line {
    background-color: $banner-color;
    padding: {
        top: 30px;
        bottom: 30px;
    }
    .header-line {
        font-size: 16px;
        .header-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: {
                bottom: 10px;
            }
            &-picture {
                display: flex;
                justify-content: center;
                padding-right: 12px;
            }
            &-subtitle {
                color: $header-text-color;
                padding-top: 10px;
                display: flex;
                justify-content: center;
            }
        }
        .contact {
            display: flex;
            align-items: center;
            color: #fff;
            padding-right: 0;
            &-number {
                display: flex;
                align-items: center;
                font-size: $font-md-small;
                @include mq("tablet-wide") {
                   justify-content: flex-start;
                }
                @include mq("phablet") {
                    justify-content: flex-end;
                }
            }
            &-subtitle {
                justify-content: center;
                display: flex;
                align-items: center;
                @include mq("phablet") {
                    justify-content: flex-start;
                }
                &--text {
                    border-bottom: 1px, dotted, white;
                    margin-bottom: 0;
                }
            }
        }
        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-sm-small;
            color: $baner-color;
            padding-top: 10px;
            cursor: pointer;
            @include mq("tablet-wide") {
                justify-content: flex-end;
            }
            i {
                width: 31px;
                height: 31px;
                line-height: 31px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                justify-content: center;
                transition-duration: .5s;
                &:nth-child(2) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
                &:hover {
                    color: white;
                    background-color: $baner-color;
                    transition-duration: .5s;
                }
            }
        }
    }
}

.header {
    background: {
        image: url("img/main_picture.png");
        repeat: no-repeat;
        size: cover;
        position: bottom center;
    }
    height: 552px;
    position: relative;
    &-block {
        font-family: 'Trebuchet MS Regular';
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-color: rgba(255, 242, 0, 0.7);
        text-align: center;
        font-weight: 700;
        position: absolute;
        bottom: 48px;
        left: 28px;
        &__title {
            font-size: 25px;
            line-height: 30px;
            padding-top: 30px;
        }
        &__subtitle {
            font-size: $font-xs-small;
            text-transform: uppercase;
            padding-top: 21px;
        }
        &__number {
            font-size: 24px;
            color: white;
            background-color: black;
            width: 109px;
            margin: 0 auto;
        }
    }
}

.header-info {
    font-family: 'Trebuchet MS Regular' $font-fallback;
    .app-info {
        margin-top: 30px;
        &--title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 35px;
                border-bottom: 2px solid #7f7f7f;
                font-weight: 700;
            }
            .fa-star {
                color: #ffc20e;
                font-size: $font-md-small;
            }
            &__price {
                font-size: 35px;
                font-weight: 700;
            }
        }
        &--assessment {
            font-family: 'Arial';
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 38px;
            &__text {
                font-size: $font-xs-small;
                font-weight: 700;
                span {
                    font-weight: 400;
                    color: $text-color;
                }
            }
            &__number {
                width: 50px;
                height: 50px;
                background-color: $baner-color;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                line-height: 50px;
            }
            &__rating {
                font-size: 12px;
                color: $text-color;
                text-transform: uppercase;
                font-weight: 400;
                span {
                    font-weight: 700;
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
    .app-days {
        margin-top: -35px;
        width: 150px;
        font-weight: 400;
        &__subtitle {
            text-align: justify;
            font: {
                size: 29px;
                weight: 400;
            }
            line-height: 32px;
        }
    }
}

main {
    .app-offers {
        margin-top: 37px;
        figure {
            img {
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
            .app-offer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Trebuchet MS Regular' $font-fallback;
                &__price {
                    font-size: 50px;
                    font-weight: 700;
                }
                &.sea {
                    position: relative;
                    &::after {
                        font-family: 'Arial';
                        content: 'Экстремальный маршрут';
                        display: block;
                        font-size: font-xs-small;
                        position: absolute;
                        color: $text-color;
                        left: 0;
                        bottom: 0;
                    }
                }
                &.mountains {
                    position: relative;
                    &::after {
                        font-family: 'Arial';
                        content: 'Роупджампинг';
                        display: block;
                        font-size: font-xs-small;
                        position: absolute;
                        color: $text-color;
                        left: 0;
                        bottom: 0;
                    }
                    &::before {
                        content: '$90';
                        font-family: 'Trebuchet MS Regular' $font-fallback;
                        display: block;
                        font-size: $font-sm-small;
                        position: absolute;
                        color: $text-color;
                        text-decoration: line-through red;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
    .main-block {
        margin-top: 95px;
        margin-bottom: 26px;
        font: {
            family: 'Arial Regular' $font-fallback;
            weight: 700;
        }
        &-title {
            font: {
                family: 'Trebuchet MS' $font-fallback;
                size: 50px;
                weight: 700;
            }
            line-height: 56px;
            padding-bottom: 26px;
        }
        &-subtitle {
            margin: {
                top: 20px;
                bottom: 10px;
            }
            font: {
                size: $font-sm-small;
                family: 'Arial Bold' $font-fallback;
            }
        }
        &-info {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 27px;
            font-family: 'Arial Bold' $font-fallback;
        }
        &-text {
            font: {
                size: 14px;
                weight: 400;
            }
            line-height: 20px;
            margin-bottom: 27px;
        }
        &-blockquote {
            background-color: $blockquote-bg-color;
            padding: {
                left: 15px;
                right: 30px;
                top: 16px;
                bottom: 20px;
            }
            border-left: 3px solid #33ccf5;
            margin-left: 27px;
        }
        &-table {
            min-width: 320px;
            table-layout: fixed;
            overflow-x: scroll;
            display: block;
            &__title {
                font: {
                    family: 'Arial Bold' $font-fallback;
                    size: 12px;
                    weight: 900;
                }
            }
            &__text {
                font: {
                    family: 'Arial Regular' $font-fallback;
                    size: $font-xs-small;
                    weight: 400;
                }
            }
            &__row {
                border-bottom: 1px solid $table-color;
            }
            td {
                padding: {
                    top: 12px;
                    bottom: 12px;
                    left: 15px;
                    right: 15px;
                }
            }
            thead {
                background-color: $table-color;
                border-bottom: 1px solid $text-color;
            }
        }
        &-fount {
            font: {
                size: $font-xs-small;
                weight: 400;
            }
            line-height: 20px;
            margin-top: 33px;
            .main-block-list {
                list-style: none;
                margin: 0;
                .main-block-fount__item {
                    position: relative;
                    &:before {
                        content: "—";
                        position: absolute;
                        left: -18px;
                    }
                }
            }
            &__title {
                font: {
                    size: $font-xs-small;
                }
            }
        }
        .main-subtitle {
            font-family: 'Trebuchet MS';
            color: $text-color;
            font: {
                size: $font-sm-small;
                weight: 400;
            }
            line-height: 24px;
        }
    }
}

.footer-block {
    margin: {
        top: 45px;
        bottom: 30px;
    }
    border-top: 1px solid $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font: {
        family: 'Arial Regular' $font-fallback;
        weight: 400;
        font-size: 12px;
    }
    &-social {
        display: flex;
        justify-content: center;
        &__item {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background-color: $baner-color;
            font-size: $font-sm-small;
            line-height: 31px;
            text-align: center;
            color: $header-text-color;
            border: none;
            &:nth-child(2) {
                margin: {
                    left: 10px;
                    right: 10px;
                }
            }
        }
    }
}