@import '_fonts';
@import '_var';
@import 'base/_mixins';

.header {
    margin-top: 62px;

    &-logo {
        display: flex;
        justify-content: center;

        @include mq("tablet") {
            display: block;
        }
    }

    &-contacts {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq("tablet") {
            justify-content: flex-start;
        }

        &__item:not(:last-child) {
            margin-right: 25px;
        }

        a {
            font-size: 19px;
            border-radius: 50%;
            background-color: #fff;
            @include square(32px);
            @include flex-center;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background-color: #04a5f5;
                transform: scale(1.3);
            }
        }
    }

    &-language {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        @include mq("tablet") {
            justify-content: flex-start;
        }
    }

    &-meta {
        position: relative;
        color: #fff;
        padding-top: 50px;

        @include mq("desktop") {
            padding-top: 0px;
        }


        &__date {
            position: relative;
            height: 70px;
            border: 2px solid #8da2c5;
            text-align: center;

            padding: {
                left: 28px;
                right: 28px;
            }

            &-text {
                line-height: 70px;
                position: relative;
                z-index: 2;

                font: {
                    size: $font-lg-small;
                    family: $Roboto-Thin;
                }
            }

            &:before {
                top: -23px;
                left: 50%;
                @include pseudo;
                height: 110px;
                width: 150px;
                transform: skewX(-30deg) translateX(-50%);
                ;
                background-color: $label-color;
                z-index: 1;
            }
        }

        &__location {
            margin-top: 40px;
            text-align: center;

            span {
                padding-right: 15px;
            }
        }
    }
}

.language-button {
    display: flex;
    align-items: center;

    font: {
        size: $font-xs-small;
        family: $Roboto-Light;
    }

    &__item {
        color: rgba(254, 254, 254, .3);

        &:first-child {
            color: #fefefe;
            margin-right: 20px;
        }

        &:hover {
            color: #fefefe;
        }
    }
}