$button-color: #04a5f5;
$label-color: #e74040;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 12px;
$font-sm-small: 20px;
$font-md-small: 24px;
$font-lg-small: 37px;

$Roboto-Thin: 'Roboto-Thin', $font-fallback;
$Roboto-Light: 'Roboto-Light', $font-fallback;

