$primary-color: #fff;
$secondary-color: #F3F0EB;
$title-color: #000000;
$text-color: #A4A4A4;
$success-color: #67cf35;
$bg-form-color: #d9d9d9;

$font-fallback: Verdana, serif, sans-serif;
$serif-balsamiq-regular-font: "Balsamiq Regular", $font-fallback;
$serif-sfProDisplay-bold-font: "SFProDisplay Bold", $font-fallback;
$serif-sfProDisplay-regular-font: "SFProDisplay Regular", $font-fallback;
$serif-roboto-regular-font: "Roboto-Regular", $font-fallback;
$inter-regular-font: "Inter Regular", $font-fallback;
$oswald-Bold-font: "Oswald Bold", $font-fallback;


