@import "var";
@import "base/mixins.scss";

.app-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: {
        left: 15px;
        right: 15px;
        bottom: 40px;
    }
    @include mq("tablet") {
        padding-bottom: 80px;
    }
}

.app-button {
    display: block;
    box-sizing: border-box;
    text-transform: capitalize;
    font: {
        family: $serif-bold-font;
        size: $font-xs;
    }
    color: $secondary-white-color;
    background-color: $primary-cyan-color;
    transition: 0.5s;
    height: 40px;
    @include flex-center;
    padding: {
        left: 40px;
        right: 40px;
    }
    border-radius: 20px;

    &-large {
        font: {
            size: $font-sm;
        }
        height: 60px;
        border-radius: 30px;
    }
    &:hover {
        color: black;
        border-radius: 15px;
    }
}

.app-title {
    font: {
        family: $serif-bold-font;
        size: $font-md;
    }
    text-align: center;
    color: $neutral-very-dark-blue-color;

    @include mq("tablet") {
        font: {
            size: $font-lg;
        }
    }
}
