@import "var";
@import "base/mixins.scss";
.app-button {
    display: block;
    box-sizing: border-box;
    text-transform: uppercase;
    font: {
        family: $serif-bold-font;
        size: 14px
    }
    color: #fff;
    background-color: $vanil;
    transition: .5s;
    width: 200px;
    height: 50px;
    @include mq("md") {
        width: 243px;
        height: 60px;
        font-size: 16px;
    }
    margin: 0 auto;
    &-large {
        width: 200px;
        height: 50px;
        @include mq("md") {
            width: 273px;
            height: 72px;
        }
        margin: {
            top: 113px;
            left: auto;
            right: auto;
        }
    }
    &-about {
        margin: 60px auto;
        @include mq("lg") {
            margin: {
                left: 86px;
                top: 60px;
                bottom: 30px;
            }
        }
    }
    &-chef {
        margin: 60px auto;
        @include mq("lg") {
            margin: {
                left: 0;
            }
        }
    }
    &-contact {
        margin-bottom: 60px;
        @include mq("lg") {
            margin-bottom: 0;
        }
    }
    &:hover {
        color: black;
        border-radius: 15px;
        background-color: $brown;
    }
}

.app-title {
    font-family: $serif-bold-font;
    text-align: center;
    height: 97px;
    background: {
        repeat: no-repeat;
        position: center top;
    }
    position: relative;
    &_dark {
        background-image: url("../assets/img/dark_title_image.png");

        &-section {
            font-size: $font-xs-small;
            color: #808369;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
        &-description {
            color: #434343;
            text-transform: capitalize;
            font: {
                size: 24px;
                weight: 700;
            }
            @include mq("md") {
                font-size: 35px;
            }
        }
    } 

    &_white {
        color: white;
        background-image: url("../assets/img/white_title_image.png");
    }
    &-section {
        font-size: $font-xs-small;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    &-description {
        text-transform: capitalize;
        font: {
            size: 24px;
            weight: 700;
        }
        @include mq("md") {
            font-size: 35px;
        }
    }
    &:after {
        @include pseudo;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        bottom: -22px;
        left: 50%;
        margin-left: -55px;
    }
}