@import "fonts";
@import "var";
@import "base/mixins.scss";

.footer {
    background-color: $neutral-very-dark-violet;
    &-container {
        padding-top: 40px;
        padding-bottom: 20px;

        @include mq("phone") {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &-block {
        text-align: center;

        &-brand-name {
            color: $secondary-white-color;
            user-select: none;
            margin-bottom: 30px;
            font: {
                size: $font-lg;
            }
            @include mq("phone") {
              margin-bottom: 0;
          }
        }

        &-item {
            font-size: $font-xs;
            margin-bottom: 30px;
            &__title {
                padding-bottom: 12px;
                color: $secondary-white-color;
            }

            &__link {
                &:not(:last-of-type) {
                    padding-bottom: 8px;
                }

                a {
                    text-decoration: none;
                    color: $neutral-gray-color;
                    transition: 0.5s;

                    &:hover {
                        color: $primary-cyan-color;
                    }
                }
            }
            @include mq("phone") {
              margin-bottom: 0;
          }
        }

        &-social {
            display: flex;
            justify-content: center;
            gap: 20px;
            @include mq("phone") {
              justify-content: space-between;
              gap: 0;
          }
        }

        @include mq("phone") {
            display: grid;
            grid-template-columns: 300px 20% 20% 20% auto;
            text-align: left;
        }
    }
}

//------------------------------------
//// Top-button
//------------------------------------
.top-button {
    right: 5%;
    border-radius: 50%;
    font-size: $font-lg-small;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-out;
    display: none;
    @include square(60px);
    position: fixed;
    bottom: 15%;
    i {
        font-size: 50px;
    }
    @include mq("lg") {
        right: 3%;
        &:before,
        &:after {
            @include pseudo;
            border: 1.5px solid rgb(221, 221, 221);
            left: -20px;
            right: -20px;
            top: -20px;
            bottom: -20px;
            border-radius: 50%;
            animation: top-button 1.8s linear infinite;
        }
        &:after {
            animation-delay: 0.3s;
        }
        &:hover {
            will-change: transform;
            transform: scale(0.9, 0.9);
            transition: 0.3s ease-out;
        }
    }
}

@keyframes top-button {
    0% {
        will-change: transform;
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        will-change: opacity;
        opacity: 1;
    }
    100% {
        will-change: transform;
        transform: scale(1.2);
        opacity: 0;
    }
}
