@import "fonts";
@import "var";
@import "base/mixins.scss";

.header {
  padding-top: 20px;

  &-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 32px;

      &-item {
        &:first-of-type {
          font-size: $font-md;
        }
        a {
          text-decoration: none;
          color: $neutral-very-dark-blue-color;
          transition: 0.5s;

          &:hover {
            color: $primary-cyan-color;
          }
        }
      }
    }
  }

  &-auth-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;

    &__login-button {
      font: {
        family: $serif-bold-font;
      }
      color: $neutral-very-dark-blue-color;
      background-color: transparent;
    }
  }
}

.hamburger-inner {
    display: none;
    cursor: pointer;
}
