@import "fonts";
@import "var";
@import "base/mixins.scss";

.ingridients {
    &-item {
        margin-bottom: 30px;

        &__picture {
            img {
                width: 100%;
                border-radius: 4px;
            }
        }
        &:nth-of-type(2n + 1) {
            .ingridients-item__picture {
                box-shadow: 12px -2px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                &-cap {
                    left: -20px;
                }
            }
        }
        &:nth-of-type(2n) {
            .ingridients-item__picture {
                box-shadow: 12px -2px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                @include mq("tablet") {
                    box-shadow: 18.5px 32.043px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                }
            }
        }
        &__sign {
            font: {
                family: "golden_youth_scriptregular", $font-fallback;
                size: 36px;
            }
            padding-bottom: 10px;
            color: $light-brown;
            @include mq("tablet") {
                font-size: 54px;
            }
        }
        .app-text {
            font-size: 24px;
        }
        .app-text--bold {
            font-size: 24px;
            font-weight: bold;
        }
        &__picture-block {
            margin-left: 0;
            .ingridients-item__picture {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                img {
                    height: 60%;
                    max-width: 100%;
                    object: {
                        fit: cover;
                        position: center;
                    }
                }
                &-wide {
                    img {
                        height: 40%;
                        @include mq("tablet") {
                            height: 60%;
                        }
                    }
                }
            }
        }
        &__description {
            padding: {
                top: 70px;
                right: 50px;
                left: 50px;
            }
            @include mq("tablet") {
                text-align: left;
                padding: {
                    right: 100px;
                    left: 20px;
                }
            }
            .app-text--bold {
                margin-top: 10px;
            }
        }
    }
}

.ingridients-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .app-title {
        margin-bottom: 100px;
        .app-title_dark-description {
            padding-top: 30px;
        }
    }
}
