@import "fonts";
@import "var";
@import "base/mixins.scss";
// TABLE CONTENTS
//
// App-catering
// App-about
// App-services
// App-book
// App-testimonials
// App-blog
//------------------------------------
//App-catering
//------------------------------------

.main {
    position: relative;
    overflow: hidden;

    &-info {
        width: 100%;
        padding: {
            top: 60px;
            bottom: 154px;
        }

        &-container {
            padding-bottom: 0;
            padding-top: 40px;
            position: relative;
        }

        &__title {
            font-size: $font-md;
            text-align: center;
            color: $neutral-very-dark-blue-color;
            padding-bottom: 20px;
            @include mq("phone") {
                font-size: $font-xl;
                text-align: left;
            }
        }

        &__description {
            font-size: $font-sm;
            line-height: 1.5em;
            padding-bottom: 30px;
            color: $neutral-grayish-violet-color;
            max-width: 100%;
            text-align: center;
            @include mq("phone") {
                font-size: $font-xs;
                text-align: left;
                max-width: 80%;
            }
        }

        &__button {
            margin: 0 auto;
            @include mq("phone") {
                margin: 0;
            }
        }

        &__picture {
            width: 93%;
            margin: 0 auto;
            display: block;

            @include mq("phone") {
                position: absolute;
                right: -8%;
                top: -0;
                width: auto;
            }
        }
        @include mq("phone") {
            width: 60%;
        }
    }

    &-form {
        background-color: $neutral-very-dark-blue-color;
        padding: 30px;
        border-radius: 8px;
        position: absolute;
        width: calc(100% - 30px);
        left: 50%;
        transform: translate(-50%, -50%);

        @include mq("phone") {
            padding: 40px;
        }

        &-block {
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include mq("phone") {
                flex-direction: row;
            }

            &__button {
                border-radius: 8px;
                white-space: nowrap;
                margin-top: 10px;

                @include mq("phone") {
                    margin-left: 30px;
                    margin-top: 0;
                }
            }
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    }

    &-statistics {
        background-color: $neutral-gray-color;
        padding-top: 140px;

        &-description {
            max-width: 580px;
            color: $primary-dark-violet-color;
            line-height: 1.5em;
            text-align: center;
            font: {
                size: $font-xs;
            }
            margin: {
                top: 20px;
                bottom: 40px;
                left: auto;
                right: auto;
            }

            @include mq("phone") {
                font: {
                    size: $font-sm;
                }
            }
        }

        &-wrapper {
            margin-top: 80px;
            @include mq("phone") {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(9, 1fr);
                gap: 40px;
                margin-top: 0
            }
        }

        &-block {
            background-color: $bg-color-white;
            position: relative;
            border-radius: 10px;
            padding: {
                top: 80px;
                left: 40px;
                right: 40px;
                bottom: 40px;
            }
            &:first-of-type {
                grid-row-start: 1;
                grid-row-end: 7;
            }
            &:nth-of-type(2) {
                grid-row-start: 2;
                grid-row-end: 8;
                position: relative;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 80px;
                    width: 6px;
                    background-color: $primary-cyan-color;
                    @include mq("phone") {
                        height: 3px;
                        width: 40px;
                    }
                }
                &::after {
                    left: 50%;
                    top: -80px;
                    transform: translateX(-50%);
                    @include mq("phone") {
                        left: -40px;
                        top: 30%;
                        transform: translateX(0);
                    }
                }
                &::before {
                    left: 50%;
                    bottom: -80px;
                    transform: translateX(-50%);
                    @include mq("phone") {
                        right: -40px;
                        top: 30%;
                        left: 100%;
                        transform: translateX(0);
                    }
                }
            }
            &:last-of-type {
                grid-row-start: 3;
                grid-row-end: 9;
            }

            &:not(:last-of-type) {
                margin-bottom: 80px;
                @include mq("phone") {
                    margin-bottom: 0;
                }
            }

            &__icon {
                background-color: $neutral-very-dark-violet;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: {
                    left: 24px;
                    right: 24px;
                    top: 20px;
                    bottom: 20px;
                }
                border-radius: 50%;
                @include mq("phone") {
                    left: 0;
                    transform: translate(40px, -50%);
                }
            }

            &__title {
                padding-bottom: 20px;
                color: $neutral-very-dark-blue-color;
                font: {
                    size: $font-sm;
                }
            }

            &__description {
                font: {
                    size: $font-xs;
                }
                line-height: 1.5em;
                color: $primary-dark-violet-color;
            }

            @include mq("phone") {
                grid-row-start: 1;
                grid-row-end: 9;
            }
        }
    }

    &-action {
        padding: {
            top: 60px;
            bottom: 60px;
        }
        background-image: url("../assets/img/bg-boost-desktop.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $neutral-very-dark-blue-color;

        &-title {
            color: $secondary-white-color;
        }

        &-button {
            margin: {
                top: 40px;
                left: auto;
                right: auto;
            }
        }
    }
}
