$primary-cyan-color: hsl(180, 66%, 49%);
$primary-dark-violet-color: hsl(257, 27%, 26%);
$secondary-white-color: #fff;
$secondary-red-color: hsl(0, 87%, 67%);
$neutral-gray-color: hsl(0, 0%, 75%);
$neutral-grayish-violet-color: hsl(257, 7%, 63%);
$neutral-very-dark-blue-color: hsl(255, 11%, 22%);
$neutral-very-dark-violet: hsl(260, 8%, 14%);
$bg-color-white: #fff;
$font-fallback: Verdana, serif, sans-serif;
$font-xs: 14px;
$font-sm: 20px;
$font-md: 30px;
$font-lg: 40px;
$font-xl: 60px;
$serif-reg-font: 'Poppins-Regular', $font-fallback;
$serif-bold-font: 'Poppins-Bold', $font-fallback;