@charset "UTF-8";
@import url(fonts.css);
input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  img {
    filter: Gray();
    filter: url("desaturate.svg#grayscale");
    filter: grayscale(100%); }

  a {
    text-decoration: underline;
    page-break-inside: avoid; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a:link,
  a:visited {
    color: #781351; }

  a[href="#"],
  a[href="javascript:"] {
    content: ""; }

  body {
    font-family: Georgia, ‘Times New Roman’, serif; }

  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap; }

  @page :left {
    margin: 1cm; }
  @page :right {
    margin: 1cm; }
  .embed-youtube,
  .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden; }

  blockquote, table, pre, ul, ol, dl,
  h1, h2, h3, h4, h5, h6, img {
    page-break-inside: avoid; }

  h1, h2, h3, h4, h5, h6, img {
    page-break-after: avoid; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body, html {
  height: auto; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

ul, ol {
  list-style-type: none; }

body {
  font-family: Verdana sans-serif; }

header {
  /*background-image: url('img/Top BG.png');*/
  height: 100vh;
  background-size: cover;
  color: white;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5); }

#video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.container {
  width: 960px;
  /*ширина блока*/
  margin: 0 auto;
  /*вирівнює по центру*/
  padding-top: 120px;
  /*отступ зверху*/
  position: relative;
  height: calc(100vh); }

.header-iphone1 {
  position: absolute;
  right: -252px;
  bottom: -286px;
  z-index: 1;
  transition: 0.7s; }

.header-iphone1:hover {
  bottom: -10vh; }

.header-iphone2 {
  position: absolute;
  right: -53px;
  bottom: -24vh;
  transition: .7s; }

.header-iphone2:hover {
  bottom: -8vh; }

.header-top-line {
  display: flex;
  justify-content: space-between; }

.header-top-line nav ul {
  display: flex;
  justify-content: space-between;
  width: 326px;
  font-size: 18px;
  text-transform: uppercase;
  /*текст у верхньому регістрі*/
  padding-top: 38px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-family: "aller", Verdana, serif, sans-serif; }

.header-top-line nav ul li:hover {
  color: black; }

.description {
  margin-top: 49px; }

.header-main-title {
  font-size: 52px;
  font-family: "allerbold", Verdana, serif, sans-serif; }

.header-secondary-title {
  font-size: 37px;
  line-height: 40px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  margin-top: 29px;
  width: 560px;
  font-family: "aller_lightregular" Verdana, serif, sans-serif; }

.description p {
  font-size: 21px;
  line-height: 23px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  width: 450px;
  margin-top: 20px;
  font-family: "open_sansregular", Verdana, serif, sans-serif; }

.app-button {
  box-sizing: border-box;
  /*немає отступів margin*/
  padding: 0;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  transition: 0.5s;
  font-size: 18px;
  font-family: "allerbold", Verdana, serif, sans-serif;
  width: 410px;
  height: 67px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  margin-top: 45px;
  text-transform: uppercase;
  /*текст у верхньому регістрі*/ }

.app-button:hover {
  color: black; }

.shop-btn-block {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px; }

.app-store {
  box-sizing: border-box;
  /*немає отступів margin*/
  width: 195px;
  height: 67px;
  display: flex;
  justify-content: flex-start;
  background-color: black; }

.google-play {
  box-sizing: border-box;
  /*немає отступів margin*/
  width: 195px;
  height: 67px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-left: 20px; }

.app-spore-span1 {
  font-size: 12px;
  text-transform: uppercase;
  /*текст у верхньому регістрі*/
  /*margin-left: 10px;*/
  border: none;
  /*margin-top: 15px;*/
  font-family: "proxima_nova_rgbold", Verdana, serif, sans-serif; }

.app-store img {
  width: 32px;
  height: 40px;
  margin-top: 12px;
  margin-left: 11px; }

span {
  display: block; }

.app-spore-span2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  font-family: "MyriadPro-Regular", Verdana, serif, sans-serif; }

.shop-btn-description-app-store {
  margin: auto; }

.google-play img {
  width: 36px;
  height: 41px;
  margin-top: 14px;
  margin-left: 13px; }

.google-play-span1 {
  font-size: 12px;
  text-transform: uppercase;
  /*текст у верхньому регістрі*/
  /*padding-right: 11px;*/
  /*text-align: center;*/
  border: none;
  /*margin-top: 15px;*/
  font-family: "proxima_nova_rgbold", Verdana, serif, sans-serif; }

.shop-btn-description-google-play {
  margin: auto; }

.google-play-span2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  font-family: "MyriadPro-Regular", Verdana, serif, sans-serif; }

main {
  height: 459px;
  border-bottom: 1px solid #cacdcf; }

.second-container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
  color: #4e5b61; }

.main-title {
  margin-top: 159px;
  font-family: "allerbold", Verdana, serif, sans-serif;
  font-size: 36px;
  margin-left: -276px;
  text-transform: capitalize; }

.main-text {
  font-family: "open_sansregular", Verdana, serif, sans-serif;
  font-size: 19px;
  margin-left: -276px;
  margin-top: 10px; }

.main-iphone {
  margin-left: -260px;
  transition: .7s; }

.main-iphone:hover {
  transform: translateY(-270px); }

.circles {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin-top: 36px;
  margin-left: -20px; }
  .circles div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(78, 91, 97, 0.5);
    cursor: pointer; }
    .circles div.active {
      background-color: #4e5b61; }
    .circles div:hover:not(.active) {
      background-color: black; }

.main-buttons {
  width: 360px;
  height: 52px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: #cacdcf;
  font-size: 16px;
  font-family: "allerregular", Verdana, serif, sans-serif; }

.main-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacdcf;
  width: 120px;
  cursor: pointer;
  transition: .5s; }
  .main-buttons div:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none; }
  .main-buttons div:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; }
  .main-buttons div.active {
    background-color: #cacdcf;
    color: white; }
  .main-buttons div:hover:not(.active) {
    background-color: rgba(202, 205, 207, 0.7);
    color: white; }

.main-buttons-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  background-color: white; }

.features-menu {
  background-image: url("img/Macro photo.png");
  height: 500px;
  background-size: cover;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 5; }

.third-container {
  width: 960px;
  /*ширина блока*/
  margin: 0 auto;
  /*вирівнює по центру*/ }

.features-menu-title {
  font-size: 52px;
  font-family: "aller", Verdana, serif, sans-serif;
  font-weight: 700;
  margin-top: 59px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08); }

.features-menu-text {
  font-size: 37px;
  font-family: "aller_lightregular", Verdana, serif, sans-serif;
  font-weight: 300;
  line-height: 40px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 17px;
  width: 700px; }

.contact {
  color: rgba(78, 91, 97, 0.8);
  height: 430px;
  border-bottom: 1px solid #cacdcf;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-container {
  width: 960px;
  /*ширина блока*/
  margin: 0 auto;
  /*вирівнює по центру*/
  display: flex;
  justify-content: space-between; }

.contact-container-comments-bryan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }

.contact-container-comments-bryan-quote {
  margin-left: 19px; }
  .contact-container-comments-bryan-quote h3 {
    text-transform: uppercase;
    font-family: "open_sansbold", Verdana, serif, sans-serif;
    font-size: 21px;
    margin-bottom: 9px; }
  .contact-container-comments-bryan-quote p {
    font-family: "open_sansregular", Verdana, serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 282px; }

.contact-container-comments-sarah {
  display: flex;
  justify-content: space-between; }

.contact-container-comments-sarah-quote {
  margin-left: 19px; }
  .contact-container-comments-sarah-quote h3 {
    text-transform: uppercase;
    font-family: "open_sansbold", Verdana, serif, sans-serif;
    font-size: 21px;
    margin-bottom: 9px; }
  .contact-container-comments-sarah-quote p {
    font-family: "open_sansregular", Verdana, serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 282px; }

.contact-container-contact {
  margin-left: 58px; }
  .contact-container-contact h2 {
    font-family: "allerbold", Verdana, serif, sans-serif;
    font-size: 36px;
    margin-top: -20px;
    margin-bottom: 24px; }
  .contact-container-contact p {
    font-family: "open_sansregular", Verdana, serif, sans-serif;
    font-size: 19px;
    width: 456px; }
  .contact-container-contact p:last-child {
    margin-top: 43px; }

footer {
  height: 94px;
  font-family: "aller_lightregular", Verdana, serif, sans-serif;
  font-size: 16px; }

.footer-container {
  width: 960px;
  /*ширина блока*/
  margin: 0 auto;
  /*вирівнює по центру*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit; }

.footer-left-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-left-text p {
    color: #4e5b61;
    font-weight: 300;
    line-height: 24px; }
  .footer-left-text nav ul {
    display: flex;
    justify-content: space-between;
    color: #a6adb0;
    font-weight: 300;
    padding: 0 6px; }
  .footer-left-text li {
    padding: 0 6px;
    position: relative;
    cursor: pointer; }
    .footer-left-text li:before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: #a6adb0;
      top: 50%;
      left: -1.5px; }
    .footer-left-text li:nth-child(3) {
      text-transform: uppercase; }

.footer-left-text nav ul li:hover {
  color: #4e5b61; }

.footer-right-text nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6adb0; }
.footer-right-text li {
  padding: 0 6px;
  position: relative;
  cursor: pointer; }
.footer-right-text:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #a6adb0;
  top: 50%;
  left: -1.5px; }

.footer-right-text nav ul li:hover {
  color: #4e5b61; }

/*# sourceMappingURL=main.css.map */
