@import "fonts";
@import "var";
@import "base/api.scss";

footer {
  color: $brown;
  font-family: 'pt_serifbold', $font-fallback;
}

.app-chef {
  background: {
    image: url("img/Depositphotos_58523849_original.png");
    color: #f3f1ec;
    repeat: no-repeat;
    position: top center;
  }
  position: relative;
  padding-bottom: 109px;
  margin-bottom: 110px;

  @include mq("992-wide", "max") {
    padding-bottom: 70px;
    margin-bottom: 70px;
  }

  &-description {
    padding-top: 106px;
    padding-bottom: 110px;

    @include mq(992, "max") {
      padding-bottom: 70px;
    }

    &-picture {
      background: {
        image: url('img/Depositphotos_42938439_original.png');
        position: center center;
        size: cover;
      }
      height: 541px;
    }

    &-text {
      box-sizing: border-box;
      padding-top: 94px;
      padding-left: 71px;
      font-family: 'pt_serifregular', $font-fallback;
      font-size: $font-xs-small;
      font-weight: 400;
      line-height: 24px;
      color: $grey;
      background-color: #fff;

      @include mq(992, "max") {
        padding-left: 0;
      }

      @include mq("phone-wide", "max") {
        padding: {
          left: 0;
          right: 0;
        }
      }

      &__item1 {
        width: 412px;
        box-sizing: content-box;
        position: relative;

        @include mq(992, "max") {
          margin: 0 auto;
          text-align: justify;
        }
        @include mq("phone-wide", "max") {
          text-align: justify;
          box-sizing: border-box;
          width: 290px;
          margin: 0 auto;
          padding-left: 20px;
          padding-right: 20px;
        }
        &:before {
          @include pseudo;
          background: url('img/cov.png');;
          height: 45px;
          width: 62px;
          top: -12px;
          left: -2px;

          @include mq("phone-wide", "max") {
            left: 20px;
          }
        }
      }
      &__item2 {
        padding-top: 82px;
        text-transform: capitalize;
        position: relative;
        width: 250px;

        @include mq(992, "max") {
          margin: 0 auto;
        }

        span {
          font-family: 'pt_serifbold', $font-fallback;
          font-size: $font-sm-small;
          color: $brown;
          font-weight: 700;
          line-height: 35px;
          padding-right: 14px;
        }

        &:before {
          @include pseudo;
          width: 111px;
          height: 2px;
          background-color: #a7a99a;
          top: 39px;

          @include mq(992, "max") {
            left: 50%;
            transform: translateX(-50%);
          }

        }
      }
    }
  }
}

.app-staff {
  text-transform: capitalize;
  background: {
    repeat: no-repeat;
    position: top center;
  }
  margin-top: 113px;
  text-align: center;

  @include mq(992, "max") {
    margin-top: 60px;
  }

  img {
    @include mq(1200, "max") {
      height: 210px;
    }
  }

  figcaption {
    font-family: 'pt_serifbold', $font-fallback;
    font-size: $font-sm-small;
    color: $brown;
    padding-top: 49px;
  }

  p {
    font-family: 'pt_serifregular', $font-fallback;
    font-size: $font-xs-small;
    color: $grey;
    margin-top: 14px;
  }

  &:nth-child(1) {

    @include mq(992, "max") {
      margin-top: 113px;
    }
  }

  &:nth-child(2) {

    @include mq(992, "max") {
      margin-top: 113px;
    }

    @include mq(768, "max") {
      margin-top: 60px;
    }
  }
}

.app-gallery {

  &-row {
    margin-top: 30px;

    @include mq(992, "max") {
      margin-top: 0;
    }
  }

  &-picture-item {
    overflow: hidden;
    transition: all .5s;
    &:hover {
      filter: blur(5px);

      img {
        transform: scale(1.4);
      }
    }

    img {
      transition: all .5s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mq(992, "max") {
      margin-top: 50px;
    }
  }
}

.app-form-item {
  background-color: $light-brown;
  position: relative;
  padding-bottom: 110px;
  height: 100%;
  font-size: $font-xs-small;
  font-family: 'pt_serifbold', $font-fallback;
  color: $brown;
  margin-bottom: 152px;

  @include mq(992, "max") {
    padding-bottom: 0;
    margin-bottom: 19px;
  }

  .fa-angle-up {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-color: #fff;
    width: 117px;
    height: 85px;
    text-align: center;
    border-radius: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    line-height: 70px;
    overflow: hidden;

  }
  &:after {
    content: 'top';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: uppercase;
  }
}

.app-contact-container {
  display: flex;
  padding: {
    right: 200px;
    left: 200px;
  }
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq(992, "max") {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  textarea {
    resize: none;
    width: 100%;
    height: 208px;
    padding: {
      top: 20px;
      right: 20px;
    }
  }
}

.app-form-control {
  font: {
    family: 'pt_serifbold', $font-fallback;
    size: $font-xs-small;
  }
  outline: none;
  border: none;
  color: $brown;
  padding-left: 43px;
  text-transform: uppercase;
}

input[type=text],
input[type=email] {
  width: 48%;
  height: 66px;
  line-height: 66px;
  margin-bottom: 30px;
  margin-top: 107px;

  @include mq(992, "max") {
    width: 100%;
  }
}

input[type=email] {

  @include mq(992, "max") {
    margin-top: 0;
  }
}

.under-footer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  padding: {
    right: 8px;
    bottom: 42px;
  }

  @include mq(992, "max") {
    margin-top: 25px;
  }

  i {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $light-grey;
    text-align: center;
    color: #fff;
    font-size: $font-xs-small;
    line-height: 42px;
    cursor: pointer;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  color: $grey;
  font-size: $font-xs-small;
  font-family: 'pt_serifregular', $font-fallback;
  padding-bottom: 42px;

  span {
    text-decoration: underline;
  }
}
