@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body, html {
  height: auto; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

ul, ol {
  list-style-type: none; }

input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  img {
    filter: Gray();
    filter: url("desaturate.svg#grayscale");
    filter: grayscale(100%); }

  a {
    text-decoration: underline;
    page-break-inside: avoid; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a:link,
  a:visited {
    color: #781351; }

  a[href="#"],
  a[href="javascript:"] {
    content: ""; }

  body {
    font-family: Georgia, ‘Times New Roman’, serif; }

  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap; }

  @page :left {
    margin: 1cm; }
  @page :right {
    margin: 1cm; }
  .embed-youtube,
  .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden; }

  blockquote, table, pre, ul, ol, dl,
  h1, h2, h3, h4, h5, h6, img {
    page-break-inside: avoid; }

  h1, h2, h3, h4, h5, h6, img {
    page-break-after: avoid; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body, html {
  height: auto; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

ul, ol {
  list-style-type: none; }

input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

.app-button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  color: white;
  background-color: #ffb18b;
  transition: .5s;
  width: 243px;
  height: 60px; }
  .app-button.large {
    font-size: 14px;
    width: 273px;
    height: 72px;
    margin: 113px auto; }
  .app-button.mas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto; }
    @media only screen and (min-width: 992px) {
      .app-button.mas {
        margin: 103px auto; } }
  .app-button.rfs {
    margin: 60px auto; }
    @media only screen and (min-width: 992px) {
      .app-button.rfs {
        margin-left: 86px;
        margin-top: 60px;
        margin-bottom: 30px; } }
  .app-button.vfm {
    margin: 58px auto; }
  .app-button.ms {
    margin: 65px auto 0; }
  .app-button.ma {
    margin-bottom: 70px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px; }
    @media only screen and (min-width: 992px) {
      .app-button.ma {
        margin-bottom: 110px; } }
  .app-button.vat {
    margin: 57px auto; }
    @media only screen and (min-width: 992px) {
      .app-button.vat {
        margin-top: 57px;
        margin-left: 0; } }
  .app-button.vmp {
    margin: 70px auto; }
    @media only screen and (min-width: 992px) {
      .app-button.vmp {
        margin: 57px auto 110px; } }
  .app-button:hover {
    color: black;
    border-radius: 15px;
    background-color: #808369; }

.app-title {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative; }
  .app-title.dark {
    background-image: url("img/Vector Smart Object1.png"); }
    .app-title.dark.blog {
      margin-bottom: 112px; }
    .app-title.dark.book {
      margin-top: 240px; }
      @media only screen and (min-width: 992px) {
        .app-title.dark.book {
          margin-top: 193px; } }
    .app-title.dark.form {
      padding-top: 70px;
      background-position: center 110px; }
      @media only screen and (min-width: 992px) {
        .app-title.dark.form {
          padding-top: 110px; } }
    .app-title.dark .app-title-section {
      color: #808369; }
    .app-title.dark .app-title-description {
      color: #434343; }
  .app-title.white {
    color: white;
    background-image: url("img/Vector Smart Object copy 9.png"); }
    .app-title.white.about {
      background-position: center 110px;
      padding-top: 70px; }
      @media only screen and (min-width: 992px) {
        .app-title.white.about {
          padding-top: 110px; } }
    .app-title.white.book {
      background-position: center 60px;
      padding-top: 60px;
      margin-bottom: 260px; }
      @media only screen and (min-width: 992px) {
        .app-title.white.book {
          background-position: center 193px;
          padding-top: 193px; } }
      .app-title.white.book .app-title-description {
        font-size: 24px; }
        @media only screen and (min-width: 992px) {
          .app-title.white.book .app-title-description {
            font-size: 50px; } }
        @media only screen and (min-width: 768px) {
          .app-title.white.book .app-title-description {
            font-size: 35px; } }
  .app-title-section {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 25px; }
  .app-title-description {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700; }
    @media only screen and (min-width: 768px) {
      .app-title-description {
        font-size: 35px; } }
  .app-title:after {
    content: "";
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px; }

@font-face {
  font-family: 'pt_serifregular';
  src: url("fonts/ptf55f-webfont.eot");
  src: url("fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf55f-webfont.woff2") format("woff2"), url("fonts/ptf55f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifitalic';
  src: url("fonts/ptf56f-webfont.eot");
  src: url("fonts/ptf56f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf56f-webfont.woff2") format("woff2"), url("fonts/ptf56f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold';
  src: url("fonts/ptf75f-webfont.eot");
  src: url("fonts/ptf75f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf75f-webfont.woff2") format("woff2"), url("fonts/ptf75f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold_italic';
  src: url("fonts/ptf76f-webfont.eot");
  src: url("fonts/ptf76f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf76f-webfont.woff2") format("woff2"), url("fonts/ptf76f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yellowtailregular';
  src: url("fonts/yellowtail-regular-webfont.eot");
  src: url("fonts/yellowtail-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/yellowtail-regular-webfont.woff2") format("woff2"), url("fonts/yellowtail-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

header.header {
  color: #808369;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  text-transform: uppercase;
  padding: 0; }

.header-top-line {
  position: relative;
  background-color: #f3f1ec; }
  .header-top-line .app-nav {
    justify-content: center; }
  .header-top-line__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-height: 56px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer; }
    .header-top-line__menu li a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      text-decoration: none;
      color: inherit; }
    .header-top-line__menu-item {
      border-left: none;
      padding: 0; }
      .header-top-line__menu-item:hover {
        color: black; }
      .header-top-line__menu-item:first-child {
        border: none;
        display: none; }
  @media only screen and (min-width: 992px) {
    .header-top-line .header-top-line__menu-item {
      border-left: 1px solid #d0ceca;
      padding: 0 25px; }
    .header-top-line .header-top-line__menu li:first-of-type {
      display: block;
      border: none; } }

.header-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  min-height: 110px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; }
  @media only screen and (min-width: 992px) {
    .header-title-section {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; } }
  .header-title-section__contacts {
    line-height: 20px;
    font-weight: 700;
    width: 180px;
    text-align: center;
    order: 2;
    padding-bottom: 20px; }
    @media only screen and (min-width: 992px) {
      .header-title-section__contacts {
        text-align: right;
        order: 1; } }
    .header-title-section__contacts i.fa.fa-phone {
      padding-left: 5px;
      transform: scale(-1, 1);
      filter: flipH(); }
  .header-title-section__title {
    text-align: center;
    position: relative; }
    @media only screen and (min-width: 992px) {
      .header-title-section__title {
        order: 2; } }
    .header-title-section__title:before {
      width: 283px;
      height: 81px;
      content: "";
      display: block;
      position: absolute;
      background-image: url("img/Vector Smart Object.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      bottom: 10px;
      left: -92px; }
    .header-title-section__title h1 {
      font-family: "yellowtailregular", Verdana, serif, sans-serif;
      font-size: 45px;
      color: #434343;
      line-height: .7;
      text-transform: none; }
    .header-title-section__title p {
      margin-top: 14px;
      text-transform: uppercase; }
  .header-title-section__basket {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: 700;
    width: 180px; }
    @media only screen and (min-width: 992px) {
      .header-title-section__basket {
        text-align: right;
        order: 3; } }
    .header-title-section__basket i.fa.fa-shopping-cart {
      padding-right: 5px; }

.header-catering {
  min-height: 773px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("img/test.png");
  padding-top: 245px;
  position: relative; }
  .header-catering__text {
    font-size: 25px;
    color: #fff;
    text-align: center;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .header-catering__text {
        font-size: 40px; } }
    @media only screen and (min-width: 992px) {
      .header-catering__text {
        font-size: 60px; } }
    .header-catering__text:before, .header-catering__text:after {
      content: "";
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: white;
      left: 50%;
      transform: translate(-50%); }
    .header-catering__text:before {
      top: -50px; }
    .header-catering__text:after {
      bottom: -50px; }
  .header-catering-circles {
    display: flex;
    justify-content: space-between;
    width: 84px;
    margin: 0 auto; }
    .header-catering-circles__item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer; }
      .header-catering-circles__item .active {
        background-color: #4e5b61; }
      .header-catering-circles__item:hover:not(active) {
        background-color: #fff; }
  .header-catering i.fa.fa-angle-down {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%); }

@font-face {
  font-family: 'pt_serifregular';
  src: url("fonts/ptf55f-webfont.eot");
  src: url("fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf55f-webfont.woff2") format("woff2"), url("fonts/ptf55f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifitalic';
  src: url("fonts/ptf56f-webfont.eot");
  src: url("fonts/ptf56f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf56f-webfont.woff2") format("woff2"), url("fonts/ptf56f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold';
  src: url("fonts/ptf75f-webfont.eot");
  src: url("fonts/ptf75f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf75f-webfont.woff2") format("woff2"), url("fonts/ptf75f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold_italic';
  src: url("fonts/ptf76f-webfont.eot");
  src: url("fonts/ptf76f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf76f-webfont.woff2") format("woff2"), url("fonts/ptf76f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yellowtailregular';
  src: url("fonts/yellowtail-regular-webfont.eot");
  src: url("fonts/yellowtail-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/yellowtail-regular-webfont.woff2") format("woff2"), url("fonts/yellowtail-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

.about-block {
  padding-top: 60px; }
  @media only screen and (min-width: 992px) {
    .about-block {
      padding-top: 110px; } }
  .about-block .app-catering {
    font-family: "yellowtailregular", Verdana, serif, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-top: 106px; }
    .about-block .app-catering-item {
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-clip: content-box;
      background-position: center center;
      background-size: cover;
      height: 473px;
      margin-bottom: 20px; }
      @media only screen and (min-width: 992px) {
        .about-block .app-catering-item {
          margin-bottom: 0; } }
      .about-block .app-catering-item .fa-angle-down {
        display: block;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, 0);
        color: #808369;
        font-size: 16px;
        cursor: pointer; }
      .about-block .app-catering-item:first-child {
        background-image: url("img/Events.png");
        background-size: 370px; }
      .about-block .app-catering-item:nth-child(2) {
        background-image: url("img/Food&Drinks.png");
        background-size: 370px; }
      .about-block .app-catering-item:nth-child(3) {
        background-image: url("img/Venues.png");
        background-size: 370px;
        margin-bottom: 0; }

.app-about {
  background-image: url("img/About bg.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 20px; }
  @media only screen and (min-width: 992px) {
    .app-about {
      padding-bottom: 120px; } }
  .app-about-section {
    padding-top: 110px; }
    .app-about-section-picture {
      background-image: url("img/about-us-im.png");
      background-position: center center;
      background-size: cover;
      min-height: 541px; }
    .app-about-section-story {
      background-color: #fff; }
      .app-about-section-story__title {
        font-family: "pt_serifbold", Verdana, serif, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        color: #808369;
        max-width: 397px;
        box-sizing: content-box;
        margin: 0 auto; }
        @media only screen and (min-width: 768px) {
          .app-about-section-story__title {
            padding-top: 7 S4px;
            padding-left: 0;
            padding-right: 0; } }
        @media only screen and (min-width: 992px) {
          .app-about-section-story__title {
            margin: 0;
            line-height: 33px;
            text-align: left;
            padding-top: 94px;
            padding-left: 86px;
            padding-right: 20px;
            font-size: 22px; } }
      .app-about-section-story__text {
        color: #929292;
        font-family: "pt_serifregular", Verdana, serif, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        box-sizing: border-box;
        text-align: justify;
        width: 290px;
        margin: 0 auto;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px; }
        .app-about-section-story__text span {
          font-family: "pt_serifbold", Verdana, serif, sans-serif;
          font-size: 22px;
          color: #434343; }
        @media only screen and (min-width: 768px) {
          .app-about-section-story__text {
            width: 470px;
            padding-top: 26px;
            padding-left: 0;
            padding-right: 0; } }
        @media only screen and (min-width: 992px) {
          .app-about-section-story__text {
            text-align: justify;
            box-sizing: content-box;
            width: 370px;
            margin: 0;
            padding-top: 36px;
            padding-left: 86px;
            padding-right: 20px; } }
  .app-about .menu-block {
    padding-top: 60px; }
    @media only screen and (min-width: 992px) {
      .app-about .menu-block {
        padding-top: 110px; } }
    .app-about .menu-block .app-menu {
      font-family: "pt_serifbold", Verdana, serif, sans-serif;
      font-size: 16px;
      font-weight: 700;
      margin-top: 106px;
      text-transform: uppercase;
      color: #808369; }
      .app-about .menu-block .app-menu-section {
        position: relative;
        margin-bottom: 20px;
        max-width: 300px; }
        .app-about .menu-block .app-menu-section-item {
          background-color: #fff;
          position: relative;
          border-bottom: none;
          max-width: 270px;
          height: 270px;
          padding: 15px; }
          @media (min-width: 991.98px) and (max-width: 1199.98px) {
            .app-about .menu-block .app-menu-section-item {
              height: 240px; } }
          .app-about .menu-block .app-menu-section-item img {
            width: 100%; }
          .app-about .menu-block .app-menu-section-item figcaption {
            background-image: radial-gradient(at top, #f5f5f3 19px, white 120px, white 240px);
            height: 95px;
            display: block;
            text-align: center;
            padding-top: 27px; }
        .app-about .menu-block .app-menu-section .fa-angle-down {
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          color: #808369;
          font-size: 16px;
          cursor: pointer;
          background-color: #f3f2ed;
          width: 38px;
          height: 19px;
          text-align: center;
          line-height: 30px;
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          transform: translateX(-50%); }
  .app-about-quote {
    text-align: center;
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #808369;
    padding-top: 56px; }

.services-block {
  padding-top: 60px; }
  @media only screen and (min-width: 992px) {
    .services-block {
      padding-top: 110px; } }
  .services-block .app-services {
    font-family: "pt_serifbold", Verdana, serif, sans-serif; }
    .services-block .app-services h4 {
      text-transform: uppercase;
      font-size: 20px;
      color: #808369;
      margin-top: 40px;
      margin-bottom: 30px;
      position: relative; }
      .services-block .app-services h4:first-child {
        margin-top: 0; }
      @media only screen and (min-width: 992px) {
        .services-block .app-services h4 {
          margin-bottom: 55px;
          margin-top: 55px; } }
    .services-block .app-services p {
      font-size: 14px;
      color: #929292;
      font-weight: 400;
      line-height: 24px; }
    .services-block .app-services-left-text {
      counter-reset: section;
      text-align: center; }
      @media only screen and (min-width: 992px) {
        .services-block .app-services-left-text {
          text-align: right; } }
      .services-block .app-services-left-text h4:before {
        content: "";
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        top: 34px;
        right: 50%;
        transform: translateX(50%); }
        @media only screen and (min-width: 992px) {
          .services-block .app-services-left-text h4:before {
            right: 0;
            transform: none; } }
      .services-block .app-services-left-text h4:after {
        content: "0" counter(section);
        counter-increment: section;
        position: absolute;
        font-size: 40px;
        font-weight: 700;
        line-height: 28px;
        color: #eae8e0;
        display: block;
        top: 2px;
        box-sizing: border-box;
        right: 50%;
        transform: translateX(-200%); }
        @media only screen and (min-width: 992px) {
          .services-block .app-services-left-text h4:after {
            right: -62px;
            transform: none; } }
  .services-block-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 3; }
    .services-block-picture-img {
      display: none; }
      @media only screen and (max-width: 1199px) {
        .services-block-picture-img {
          width: 350px; } }
      @media only screen and (min-width: 992px) {
        .services-block-picture-img {
          display: block; } }
    @media only screen and (min-width: 992px) {
      .services-block-picture {
        order: 2; } }
  .services-block-right-text {
    counter-reset: list 3;
    text-align: center;
    margin-top: 40px; }
    @media only screen and (min-width: 992px) {
      .services-block-right-text {
        text-align: left;
        order: 2;
        margin-top: 0; } }
    .services-block-right-text h4:before {
      content: '';
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      top: 34px;
      left: 50%;
      transform: translateX(-50%); }
      @media only screen and (min-width: 992px) {
        .services-block-right-text h4:before {
          left: 0;
          transform: none; } }
    .services-block-right-text h4:after {
      content: "0" counter(list);
      counter-increment: list;
      position: absolute;
      font-size: 40px;
      font-weight: 700;
      line-height: 28px;
      color: #eae8e0;
      display: block;
      top: 2px;
      box-sizing: border-box;
      left: 50%;
      transform: translateX(-300%); }
      @media only screen and (min-width: 992px) {
        .services-block-right-text h4:after {
          left: -62px;
          transform: none; } }

.app-book {
  background-image: url("img/Depositphotos_24590415_original copy.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  margin-top: 110px;
  padding-bottom: 119px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  overflow: hidden; }
  .app-book .app-testimonials {
    margin-top: 159px; }
    .app-book .app-testimonials-description {
      height: 259px;
      background-color: white;
      display: flex;
      align-items: center; }
      .app-book .app-testimonials-description:before {
        content: url("img/Depositphotos_26240763_original.png");
        display: block;
        width: 95px;
        height: 95px;
        position: absolute;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        border: 8px solid #f3f1ec;
        border-radius: 50%;
        box-sizing: content-box; }
      .app-book .app-testimonials-description p {
        font-weight: 700;
        color: #808369;
        font-size: 14px;
        line-height: 18px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        width: inherit; }
        @media only screen and (min-width: 768px) {
          .app-book .app-testimonials-description p {
            font-size: 18px; } }
        @media only screen and (min-width: 992px) {
          .app-book .app-testimonials-description p {
            font-size: 20px;
            line-height: 33px;
            min-width: 870px; } }
      .app-book .app-testimonials-description .fa-angle-left,
      .app-book .app-testimonials-description .fa-angle-right {
        display: block;
        top: 50%;
        position: absolute;
        color: #808369;
        font-size: 16px;
        cursor: pointer;
        background-color: #f3f2ed;
        width: 52px;
        height: 52px;
        text-align: center;
        line-height: 52px;
        border-radius: 50%; }
        .app-book .app-testimonials-description .fa-angle-left.left,
        .app-book .app-testimonials-description .fa-angle-right.left {
          transform: translateX(-50%) translateY(-50%);
          left: 0; }
        .app-book .app-testimonials-description .fa-angle-left.right,
        .app-book .app-testimonials-description .fa-angle-right.right {
          transform: translateX(50%) translateY(-50%);
          right: 0; }
    .app-book .app-testimonials-quote {
      font-size: 14px;
      color: #929292;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 68px;
      margin: 0 auto;
      width: 270px;
      background-color: #fbfbfa;
      background-image: repeating-linear-gradient(90deg, white 0%, #f7f7f5 50%, white 100%); }

.blog-block {
  padding-top: 60px; }
  @media only screen and (min-width: 992px) {
    .blog-block {
      padding-top: 110px; } }
  .blog-block .app-blog {
    background-repeat: no-repeat;
    background-position: top center;
    background-clip: content-box;
    height: 384px;
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    text-align: center; }
    .blog-block .app-blog p {
      padding-top: 233px;
      font-size: 14px;
      color: #808369;
      text-transform: uppercase;
      font-weight: 700; }
    .blog-block .app-blog h6 {
      font-size: 20px;
      font-weight: 700;
      line-height: 33px;
      color: #434343;
      text-transform: capitalize;
      position: relative;
      width: 280px;
      margin: 0 auto; }
      .blog-block .app-blog h6:after {
        content: "";
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%); }
    .blog-block .app-blog:nth-child(1) {
      background-image: url("img/Depositphotos_92197920_original.png"); }
    .blog-block .app-blog:nth-child(2) {
      background-image: url("img/Depositphotos_70224577_original.png");
      margin-top: 50px; }
      @media only screen and (min-width: 768px) {
        .blog-block .app-blog:nth-child(2) {
          margin-top: 0; } }
    .blog-block .app-blog:nth-child(3) {
      background-image: url("img/Depositphotos_10888700_original.png");
      margin-top: 50px; }
      @media only screen and (min-width: 768px) {
        .blog-block .app-blog:nth-child(3) {
          margin-top: 0; } }

@font-face {
  font-family: 'pt_serifregular';
  src: url("fonts/ptf55f-webfont.eot");
  src: url("fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf55f-webfont.woff2") format("woff2"), url("fonts/ptf55f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifitalic';
  src: url("fonts/ptf56f-webfont.eot");
  src: url("fonts/ptf56f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf56f-webfont.woff2") format("woff2"), url("fonts/ptf56f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold';
  src: url("fonts/ptf75f-webfont.eot");
  src: url("fonts/ptf75f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf75f-webfont.woff2") format("woff2"), url("fonts/ptf75f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold_italic';
  src: url("fonts/ptf76f-webfont.eot");
  src: url("fonts/ptf76f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptf76f-webfont.woff2") format("woff2"), url("fonts/ptf76f-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yellowtailregular';
  src: url("fonts/yellowtail-regular-webfont.eot");
  src: url("fonts/yellowtail-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/yellowtail-regular-webfont.woff2") format("woff2"), url("fonts/yellowtail-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

footer {
  color: #808369;
  font-family: "pt_serifbold", Verdana, serif, sans-serif; }

.app-chef {
  background-image: url("img/Depositphotos_58523849_original.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 70px; }
  @media only screen and (min-width: 992px) {
    .app-chef {
      padding-bottom: 110px; } }
  .app-chef-description {
    padding-top: 106px;
    padding-bottom: 70px; }
    @media only screen and (min-width: 992px) {
      .app-chef-description {
        padding-bottom: 110px; } }
    .app-chef-description-picture {
      background-image: url("img/Depositphotos_42938439_original.png");
      background-position: center center;
      background-size: cover;
      height: 541px; }
    .app-chef-description-text {
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
      padding-top: 84px;
      font-family: "pt_serifregular", Verdana, serif, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #929292;
      background-color: #fff; }
      @media only screen and (min-width: 768px) {
        .app-chef-description-text {
          padding-left: 0; } }
      @media only screen and (min-width: 992px) {
        .app-chef-description-text {
          padding-left: 71px; } }
      .app-chef-description-text__item1 {
        position: relative;
        box-sizing: border-box;
        text-align: justify;
        padding-left: 40px;
        padding-right: 40px; }
        @media only screen and (min-width: 992px) {
          .app-chef-description-text__item1 {
            text-align: left;
            box-sizing: content-box;
            margin: 0;
            padding-left: 0;
            padding-right: 20px; } }
        .app-chef-description-text__item1:before {
          content: "";
          display: block;
          position: absolute;
          background: url("img/cov.png");
          height: 45px;
          width: 62px;
          top: 0;
          left: 40px;
          transform: translateY(-25%); }
          @media only screen and (min-width: 992px) {
            .app-chef-description-text__item1:before {
              left: 0; } }
      .app-chef-description-text__item2 {
        padding-top: 82px;
        text-transform: capitalize;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media only screen and (min-width: 992px) {
          .app-chef-description-text__item2 {
            margin: 0;
            justify-content: flex-start; } }
        .app-chef-description-text__item2 span {
          font-family: "pt_serifbold", Verdana, serif, sans-serif;
          font-size: 20px;
          color: #808369;
          font-weight: 700;
          line-height: 35px;
          padding-right: 14px; }
        .app-chef-description-text__item2:before {
          content: "";
          display: block;
          position: absolute;
          width: 111px;
          height: 2px;
          background-color: #a7a99a;
          left: 50%;
          transform: translateX(-50%);
          top: 39px; }
          @media only screen and (min-width: 992px) {
            .app-chef-description-text__item2:before {
              left: 0;
              transform: none; } }

.app-staff {
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 60px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .app-staff {
      margin-top: 113px; } }
  @media only screen and (max-width: 1199px) {
    .app-staff img {
      height: 210px; } }
  .app-staff figcaption {
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 20px;
    color: #808369;
    padding-top: 49px; }
  .app-staff p {
    font-family: "pt_serifregular", Verdana, serif, sans-serif;
    font-size: 14px;
    color: #929292;
    margin-top: 14px; }

.gallery-block {
  padding-top: 60px; }
  @media only screen and (min-width: 992px) {
    .gallery-block {
      padding-top: 110px; } }
  .gallery-block .app-gallery-row {
    margin-top: 0; }
    @media only screen and (min-width: 992px) {
      .gallery-block .app-gallery-row {
        margin-top: 30px; } }
  .gallery-block .app-gallery-picture-item {
    overflow: hidden;
    transition: all .5s;
    margin-top: 50px; }
    .gallery-block .app-gallery-picture-item:hover {
      filter: blur(5px); }
      .gallery-block .app-gallery-picture-item:hover img {
        transform: scale(1.4); }
    .gallery-block .app-gallery-picture-item img {
      transition: all .5s;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (min-width: 992px) {
      .gallery-block .app-gallery-picture-item {
        margin: 0; } }

.app-form-item {
  background-color: #f3f1ec;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 19px;
  height: 100%;
  font-size: 14px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  color: #808369; }
  @media only screen and (min-width: 992px) {
    .app-form-item {
      padding-bottom: 110px;
      margin-bottom: 152px; } }
  .app-form-item .fa-angle-up {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-color: #fff;
    width: 117px;
    height: 85px;
    text-align: center;
    border-radius: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    line-height: 70px;
    overflow: hidden; }
  .app-form-item:after {
    content: 'top';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: uppercase; }

.app-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px; }
  @media only screen and (min-width: 992px) {
    .app-contact-container {
      flex-direction: row;
      padding-right: 200px;
      padding-left: 200px; } }
  .app-contact-container textarea {
    resize: none;
    width: 100%;
    height: 208px;
    padding-top: 20px;
    padding-right: 20px; }

.app-form-control {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  color: #808369;
  padding-left: 43px;
  text-transform: uppercase; }

input[type=text],
input[type=email] {
  width: 100%;
  height: 66px;
  line-height: 66px;
  margin-bottom: 30px;
  margin-top: 107px; }
  @media only screen and (min-width: 992px) {
    input[type=text],
    input[type=email] {
      width: 48%; } }

input[type=email] {
  margin-top: 0; }
  @media only screen and (min-width: 992px) {
    input[type=email] {
      margin-top: 107px; } }

.under-footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-right: 8px;
  padding-bottom: 42px; }
  @media only screen and (min-width: 992px) {
    .under-footer {
      margin-top: 75px; } }
  .under-footer i {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #a7a99a;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    margin-right: 8px; }
    .under-footer i:last-child {
      margin-right: 0; }

.copyright {
  text-align: center;
  text-transform: capitalize;
  color: #929292;
  font-size: 14px;
  font-family: "pt_serifregular", Verdana, serif, sans-serif;
  padding-bottom: 42px; }
  .copyright span {
    text-decoration: underline; }

.top-button {
  right: 5%;
  border-radius: 50%;
  font-size: 40px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  transition: .3s ease-out;
  display: none;
  color: #929292;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 15%; }
  @media only screen and (min-width: 992px) {
    .top-button {
      right: 3%; }
      .top-button:before, .top-button:after {
        content: "";
        display: block;
        position: absolute;
        border: 1.5px solid #dddddd;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: top-button 1.8s linear infinite; }
      .top-button:after {
        animation-delay: .3s; }
      .top-button:hover {
        will-change: transform;
        transform: scale(0.9, 0.9);
        transition: .3s ease-out; } }

@keyframes top-button {
  0% {
    will-change: transform;
    transform: scale(0.5);
    opacity: 0; }
  50% {
    will-change: opacity;
    opacity: 1; }
  100% {
    will-change: transform;
    transform: scale(1.2);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
