$light-brown: #f3f1ec;
$brown: #808369;
$vanil: #ffb18b;
$grey: #929292;
$light-black: #434343;
$light-grey: #a7a99a;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;