@import "fonts";
@import "var";
@import "base/mixins";
.footer-social {
    background-color: $light-black;
}

.social-title {
    color: white;
    font: {
        size: 24px;
        weight: 700;
    }
    line-height: 96px;
    text-transform: capitalize;
    text-align: center;
    @include mq ('md') {
        text-align: start;
    }
}

.social-buttons {
    @include flex-center;
    padding-bottom: 20px;
    @include mq ('md') {
        justify-content: flex-end;
        padding-bottom: 0;
    }
    &__item {
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $title-color;
        color: $light-black;
        line-height: 32px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
        transition: .5s;
        @include mq ('sm') {
            margin-right: 20px;
        }
        &:hover {
            color: $title-color;
            background-color: $light-black;
            transition: .5s;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.footer-contact {
    background-color: $black;
    padding: {
        bottom: 39px;
    }
    @include mq ('md') {
        padding: {
            bottom: 0;
        }
    }
}

.contact-title {
    color: #fff;
    font-size: $font-sm-small;
    padding: {
        top: 39px;
        bottom: 39px;
    }
    text: {
        transform: capitalize;
        align: start;
    }
    @include mq ('md') {
        padding: {
            top: 81px;
        }
    }
}

.contact-text {
    line-height: 26px;
    padding-bottom: 0;
    @include mq ('md') {
        padding: {
            bottom: 81px;
        }
    }
}

.danger-text {
    color: $light-green;
}

.last-text {
    color: #fff;
}

.copyright {
    background-color: $light-black;
    font: {
        family: $Arial-reg;
        size: $font-xs-small;
        weight: 400;
    }
    color: #fff;
    line-height: 30px;
    text-align: center;
    @include mq (417px) {
        line-height: 51px;
    }
}