@import "var";
@import "base/api.scss";

.app-button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'pt_serifbold', $font-fallback;
  color: white;
  background-color: $vanil;
  transition: .5s;
  width: 243px;
  height: 60px;

  &.large {
    font-size: $font-xs-small;
    width: 273px;
    height: 72px;
    margin: 113px auto;
  }

  &.mas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 103px auto;

    @include mq(992, "max") {
      margin: 60px auto;
    }
  }
  &.rfs {
    margin-left: 86px;
    margin-top: 60px;
    margin-bottom: 30px;

    @include mq(992, "max") {
      margin: 60px auto;
    }
  }

  &.vfm {
    margin: 58px auto;
  }

  &.ms {
    margin: 65px auto 0;
  }

  &.ma {
    margin: 0 auto 110px;

    @include mq(992, "max") {
      margin-bottom: 70px;
    }
  }

  &.vat {
    margin-top: 57px;

    @include mq(992, "max") {
      margin: 57px auto;
    }
  }

  &.vmp {
    margin: 57px auto 110px;

    @include mq(992, "max") {
      margin: 70px auto;
    }
  }

  &:hover {
    color: black;
    border-radius: 15px;
    background-color: $brown;
  }
}

.app-title {
  font-family: 'pt_serifbold', $font-fallback;
  text-align: center;
  background: {
    repeat: no-repeat;
    position: center top;
  }
  position: relative;

  &.dark {
    background-image: url("img/Vector Smart Object1.png");
    &.blog {
      margin-bottom: 112px;
    }
    &.book {
      margin-top: 293px;

      @include mq(992, "max") {
        margin-top: 240px;
      }
    }

    &.form {
      padding-top: 110px;
      background-position: center 110px;

      @include mq(992, "max") {
        padding-top: 70px;
      }
    }

    .app-title-section {
      color: #808369;
    }

    .app-title-description {
      color: #434343;
    }
  }

  &.white {
    color: white;
    background-image: url("img/Vector Smart Object copy 9.png");

    &.about {
      background: {
        position: center 110px;
      }
      padding-top: 110px;

      @include mq(992, "max") {
        padding-top: 70px;
      }
    }
    &.book {
      background-position: center 193px;
      padding-top: 193px;

      @include mq(992, "max") {
        background-position: center 60px;
        padding-top: 60px;
        margin-bottom: 260px;
      }

      .app-title-description {
        font-size: 50px;

        @include mq(992, "max") {
          font-size: 35px;
        }

        @include mq("phone-wide", "max") {
          font-size: 24px;
        }
      }
    }
  }

  &-section {
    font-size: $font-xs-small;
    text-transform: uppercase;
    padding-bottom: 25px;
  }

  &-description {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;

    @include mq("phone-wide", "max") {
      font-size: 24px;
    }
  }

  &:after {
    @include pseudo;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
  }
}