@import url(fonts.css);
footer {
  color: #808369;
  font-family: "pt_serifbold", Verdana, serif, sans-serif; }

.app-chef {
  background-image: url("img/Depositphotos_58523849_original.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 109px;
  margin-bottom: 110px; }
  @media only screen and (max-width: "992-wide" (-1px)) {
    .app-chef {
      padding-bottom: 70px;
      margin-bottom: 70px; } }
  .app-chef-description {
    padding-top: 106px;
    padding-bottom: 110px; }
    @media only screen and (max-width: 991px) {
      .app-chef-description {
        padding-bottom: 70px; } }
    .app-chef-description-picture {
      background-image: url("img/Depositphotos_42938439_original.png");
      background-position: center center;
      background-size: cover;
      height: 541px; }
    .app-chef-description-text {
      box-sizing: border-box;
      padding-top: 94px;
      padding-left: 71px;
      font-family: "pt_serifregular", Verdana, serif, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #929292;
      background-color: #fff; }
      @media only screen and (max-width: 991px) {
        .app-chef-description-text {
          padding-left: 0; } }
      @media only screen and (max-width: 479px) {
        .app-chef-description-text {
          padding-left: 0;
          padding-right: 0; } }
      .app-chef-description-text__item1 {
        width: 412px;
        box-sizing: content-box;
        position: relative; }
        @media only screen and (max-width: 991px) {
          .app-chef-description-text__item1 {
            margin: 0 auto;
            text-align: justify; } }
        @media only screen and (max-width: 479px) {
          .app-chef-description-text__item1 {
            text-align: justify;
            box-sizing: border-box;
            width: 290px;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px; } }
        .app-chef-description-text__item1:before {
          content: "";
          display: block;
          position: absolute;
          background: url("img/cov.png");
          height: 45px;
          width: 62px;
          top: -12px;
          left: -2px; }
          @media only screen and (max-width: 479px) {
            .app-chef-description-text__item1:before {
              left: 20px; } }
      .app-chef-description-text__item2 {
        padding-top: 82px;
        text-transform: capitalize;
        position: relative;
        width: 250px; }
        @media only screen and (max-width: 991px) {
          .app-chef-description-text__item2 {
            margin: 0 auto; } }
        .app-chef-description-text__item2 span {
          font-family: "pt_serifbold", Verdana, serif, sans-serif;
          font-size: 20px;
          color: #808369;
          font-weight: 700;
          line-height: 35px;
          padding-right: 14px; }
        .app-chef-description-text__item2:before {
          content: "";
          display: block;
          position: absolute;
          width: 111px;
          height: 2px;
          background-color: #a7a99a;
          top: 39px; }
          @media only screen and (max-width: 991px) {
            .app-chef-description-text__item2:before {
              left: 50%;
              transform: translateX(-50%); } }

.app-staff {
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 113px;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .app-staff {
      margin-top: 60px; } }
  @media only screen and (max-width: 1199px) {
    .app-staff img {
      height: 210px; } }
  .app-staff figcaption {
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 20px;
    color: #808369;
    padding-top: 49px; }
  .app-staff p {
    font-family: "pt_serifregular", Verdana, serif, sans-serif;
    font-size: 14px;
    color: #929292;
    margin-top: 14px; }
  @media only screen and (max-width: 991px) {
    .app-staff:nth-child(1) {
      margin-top: 113px; } }
  @media only screen and (max-width: 991px) {
    .app-staff:nth-child(2) {
      margin-top: 113px; } }

.app-gallery-row {
  margin-top: 30px; }
  @media only screen and (max-width: 991px) {
    .app-gallery-row {
      margin-top: 0; } }
.app-gallery-picture-item {
  overflow: hidden;
  transition: all .5s; }
  .app-gallery-picture-item:hover {
    filter: blur(5px); }
    .app-gallery-picture-item:hover img {
      transform: scale(1.4); }
  .app-gallery-picture-item img {
    transition: all .5s;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 991px) {
      .app-gallery-picture-item img {
        margin-top: 50px;
        width: 70%;
        height: 70%; } }
  @media only screen and (max-width: 991px) {
    .app-gallery-picture-item {
      margin-top: 50px; } }

.app-form-item {
  background-color: #f3f1ec;
  position: relative;
  padding-bottom: 110px;
  height: 100%;
  font-size: 14px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  color: #808369;
  margin-bottom: 152px; }
  @media only screen and (max-width: 991px) {
    .app-form-item {
      padding-bottom: 0;
      margin-bottom: 19px; } }
  .app-form-item .fa-angle-up {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-color: #fff;
    width: 117px;
    height: 85px;
    text-align: center;
    border-radius: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    line-height: 70px;
    overflow: hidden; }
  .app-form-item:after {
    content: 'top';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: uppercase; }

.app-contact-container {
  display: flex;
  padding-right: 200px;
  padding-left: 200px;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (max-width: 991px) {
    .app-contact-container {
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px; } }
  .app-contact-container textarea {
    resize: none;
    width: 100%;
    height: 208px;
    padding-top: 20px;
    padding-right: 20px; }

.app-form-control {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  color: #808369;
  padding-left: 43px;
  text-transform: uppercase; }

input[type=text],
input[type=email] {
  width: 48%;
  height: 66px;
  line-height: 66px;
  margin-bottom: 30px;
  margin-top: 107px; }
  @media only screen and (max-width: 991px) {
    input[type=text],
    input[type=email] {
      width: 100%; } }

@media only screen and (max-width: 991px) {
  input[type=email] {
    margin-top: 0; } }

.under-footer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  padding-right: 8px;
  padding-bottom: 42px; }
  @media only screen and (max-width: 991px) {
    .under-footer {
      margin-top: 25px; } }
  .under-footer i {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #a7a99a;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    margin-right: 8px; }
    .under-footer i:last-child {
      margin-right: 0; }

.copyright {
  text-align: center;
  text-transform: capitalize;
  color: #929292;
  font-size: 14px;
  font-family: "pt_serifregular", Verdana, serif, sans-serif;
  padding-bottom: 42px; }
  .copyright span {
    text-decoration: underline; }

/*# sourceMappingURL=footer.css.map */
