@import url(fonts.css);
header {
  color: #808369; }

.container {
  width: 1170px;
  margin: 0 auto; }

.header-top-line {
  position: relative;
  background-color: #f3f1ec; }
  .header-top-line ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    text-transform: uppercase;
    height: 56px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer; }
    .header-top-line ul li {
      border-left: 1px solid #d0ceca;
      padding: 0 25px; }
      .header-top-line ul li:hover {
        color: black; }
      .header-top-line ul li:first-child {
        border: none; }

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 51px;
  height: 110px;
  background-image: url("img/Vector Smart Object.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  letter-spacing: 1px; }
  .header-title-left {
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px; }
    .header-title-left i.fa.fa-phone {
      padding-left: 5px;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: flipH();
      -ms-filter: "FlipH"; }
  .header-title-center {
    text-align: center; }
    .header-title-center h1 {
      font-family: "yellowtailregular", Verdana, serif, sans-serif;
      font-size: 45px;
      color: #434343;
      line-height: .7; }
    .header-title-center p {
      font-size: 12px;
      font-family: "pt_serifbold", Verdana, serif, sans-serif;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .header-title-right {
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px; }
    .header-title-right i.fa.fa-shopping-cart {
      padding-right: 5px; }

header i.fa.fa-angle-down {
  display: block;
  width: 10px;
  margin: 62px auto 0; }

.header-main {
  background-image: url("img/test.png");
  min-height: 773px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 245px;
  margin-bottom: 110px; }

.header-main-text {
  font-size: 60px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative; }
  .header-main-text:before {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    top: -53px;
    left: 50%;
    margin-left: -55px; }
  .header-main-text:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    bottom: -53px;
    left: 50%;
    margin-left: -55px; }

.app-button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  color: white;
  background-color: #ffb18b;
  transition: .5s;
  width: 243px;
  height: 60px; }
  .app-button.large {
    font-size: 14px;
    width: 273px;
    height: 72px;
    margin: 113px auto; }
  .app-button.mas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 103px auto; }
  .app-button.rfs {
    margin-left: 86px;
    margin-top: 60px; }
  .app-button.vfm {
    margin: 58px auto; }
  .app-button.ms {
    margin: 65px auto 0; }
  .app-button:hover {
    color: black;
    border-radius: 15px;
    background-color: #808369; }

.circles {
  display: flex;
  justify-content: space-between;
  width: 84px;
  margin: 89px auto 0; }
  .circles div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
    .circles div.active {
      background-color: #4e5b61; }
    .circles div:hover:not(.active) {
      background-color: #ffffff; }

.under-header {
  text-align: center;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  background-image: url("img/Vector Smart Object1.png");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  .under-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: #808369;
    margin-bottom: 15px; }
  .under-header h2 {
    color: #434343;
    font-size: 35px; }
  .under-header:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px; }

.welcome .col {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative; }
  .welcome .col .fa-angle-down {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer; }
  .welcome .col:nth-child(1) {
    background-image: url("img/Events.png");
    margin-right: 30px; }
  .welcome .col:nth-child(2) {
    background-image: url("img/Food&Drinks.png");
    margin-right: 30px; }
  .welcome .col:nth-child(3) {
    background-image: url("img/Venues.png"); }

.welcome {
  font-family: "yellowtailregular", Verdana, serif, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-top: 106px;
  height: 473px; }

.app-title {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative; }
  .app-title.dark {
    background-image: url("img/Vector Smart Object1.png"); }
    .app-title.dark.one {
      margin-bottom: 112px; }
    .app-title.dark.two {
      margin-top: 293px; }
    .app-title.dark .app-title-section {
      color: #808369; }
    .app-title.dark .app-title-description {
      color: #434343; }
  .app-title.white {
    color: white;
    background-image: url("img/Vector Smart Object copy 9.png"); }
    .app-title.white.one {
      background-position: center 110px;
      padding-top: 110px; }
    .app-title.white.two {
      background-position: center 193px;
      padding-top: 193px; }
  .app-title-section {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 26px; }
  .app-title-description {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700; }
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px; }

.story {
  margin-top: 106px;
  margin-bottom: 110px; }

.main {
  background-image: url("img/About bg.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 110px; }
  .main .quote {
    text-align: center;
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #808369;
    padding-top: 56px; }

.card {
  background-color: #fff; }

.left-picture {
  background-image: url("img/about-us-im.png");
  background-position: center center;
  background-size: cover;
  height: 541px; }

.card-title {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  padding-left: 86px;
  padding-top: 94px;
  color: #808369; }

.card-text {
  padding-top: 36px;
  color: #929292;
  font-family: "pt_serifregular", Verdana, serif, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 86px;
  width: 385px;
  box-sizing: content-box; }
  .card-text span {
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 22px;
    color: #434343; }

.menu {
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 106px;
  text-transform: uppercase;
  color: #808369; }

.menu .col {
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  background-position: center 15px;
  border-bottom: none;
  width: 240px;
  height: 270px;
  margin-right: 20px; }
  .menu .col p {
    background-image: radial-gradient(at top, #f5f5f3 19px, white 120px, white 240px);
    height: 95px;
    width: 240px;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 27px; }
  .menu .col:nth-child(1) {
    background-image: url("img/canapes.png"); }
  .menu .col:nth-child(2) {
    background-image: url("img/small_plates.png"); }
  .menu .col:nth-child(3) {
    background-image: url("img/sweets.png"); }
  .menu .col:nth-child(4) {
    background-image: url("img/drinks.png");
    margin-right: 0; }
  .menu .col .fa-angle-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer;
    background-color: #f3f2ed;
    width: 38px;
    height: 19px;
    text-align: center;
    line-height: 30px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: translateX(-50%); }

.event {
  font-family: "pt_serifbold", Verdana, serif, sans-serif; }
  .event h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #808369;
    margin-bottom: 55px;
    margin-top: 55px;
    position: relative; }
    .event h4:first-child {
      margin-top: 0; }
    .event h4:after {
      content: '';
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      bottom: -21px; }
  .event p {
    font-size: 14px;
    color: #929292;
    font-weight: 400;
    line-height: 24px; }
  .event .left-text {
    counter-reset: section;
    text-align: right; }
    .event .left-text h4:after {
      content: "0" counter(section);
      counter-increment: section;
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      bottom: -21px;
      right: 0; }

.under-main {
  background-image: url("img/Depositphotos_24590415_original copy.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 110px;
  margin-top: 110px; }

/*# sourceMappingURL=header.css.map */
