@import "fonts.css";


$light-brown: #f3f1ec;
$brown: #808369;
$vanil:#ffb18b;
$grey: #929292;
$light-black: #434343;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;


header {
  color: $brown;

}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-top-line {
  position: relative;
  background-color: $light-brown;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pt_serifbold', $font-fallback;
    text-transform: uppercase;
    height: 56px;
    font-size: $font-xs-small;
    font-weight: 700;
    cursor: pointer;

    li {
      border-left: 1px solid #d0ceca;
      padding: 0 25px;

      &:hover {
        color: black;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 51px;
  height: 110px;
  background: {
    image: url("img/Vector Smart Object.png");
    repeat: no-repeat;
    position: bottom center;
  }
  letter-spacing: 1px;

  &-left {
    text-align: right;
    font-size: $font-xs-small;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-phone {
      padding-left: 5px;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: flipH();
      -ms-filter: "FlipH";
    }
  }

  &-center {
    text-align: center;
    h1 {
      font-family: 'yellowtailregular', $font-fallback;
      font-size: 45px;
      color: #434343;
      line-height: .7;
    }

    p {
      font-size: 12px;
      font-family: 'pt_serifbold', $font-fallback;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px;
    }
  }

  &-right {
    text-align: right;
    font-size: $font-xs-small;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-shopping-cart {
      padding-right: 5px;
    }
  }
}

header i.fa.fa-angle-down {
  display: block;
  width: 10px;
  margin: 62px auto 0;
}


.header-main {
  background-image: url("img/test.png");
  min-height: 773px;
    background: {
    repeat: no-repeat;
    position: top center;
    size: contain;
  }
  padding-top: 245px;
  margin-bottom: 110px;
  }

.header-main-text {
  font-size: 60px;
  font-family: 'pt_serifbold', $font-fallback;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    top: -53px;
    left: 50%;
    margin-left: -55px;

  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    bottom: -53px;
    left: 50%;
    margin-left: -55px;
  }
}

.app-button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'pt_serifbold', $font-fallback;
  color: white;
  background-color: $vanil;
  transition: .5s;
  width: 243px;
  height: 60px;

&.large {
  font-size: $font-xs-small;
  width: 273px;
  height: 72px;
  margin: 113px auto;
}

&.mas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 103px auto;
}
  &.rfs {
    margin-left: 86px;
    margin-top: 60px;
  }

  &.vfm {
    margin: 58px auto;
  }

  &.ms {
    margin: 65px auto 0;
  }

  &.ma {
    margin: 74px auto 0;
  }

  &.vat{
  margin-top: 57px;
  }

  &.vmp {
    margin: 57px auto 110px;
  }

  &:hover {
    color: black;
    border-radius: 15px;
    background-color: $brown;
  }
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 84px;
  margin: 89px auto 0;

  div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;

    &.active {
      background-color: #4e5b61;
    }

    &:hover:not(.active) {
      background-color: #ffffff;
    }
  }
}


.under-header {
  text-align: center;
  font-family: 'pt_serifbold', $font-fallback;
  background: {
    image: url("img/Vector Smart Object1.png");
    repeat: no-repeat;
    position: top center;
  }
  position: relative;
  p {
    font-size: $font-xs-small;
    text-transform: uppercase;
   color: $brown;
    margin-bottom: 15px;
  }
  h2 {
 color: #434343;
    font-size: 35px;
 }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
      }
}

.welcome .col {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;

  .fa-angle-down {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer;
  }

  &:nth-child(1) {
    background-image: url("img/Events.png");
    margin-right: 30px;
  }

  &:nth-child(2) {
    background-image: url("img/Food&Drinks.png");
    margin-right: 30px;
  }
  &:nth-child(3) {
    background-image: url("img/Venues.png");
  }
}

.welcome {
  font-family: 'yellowtailregular', $font-fallback;
  font-size: 45px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color:  #fff;
  margin-top: 106px;
  height: 473px;
}

.app-title {
  font-family: 'pt_serifbold', $font-fallback;
  text-align: center;
  background: {
    repeat: no-repeat;
    position: center top;
  }
  position: relative;

    &.dark {
      background-image: url("img/Vector Smart Object1.png");
      &.one {
        margin-bottom: 112px;
      }
      &.two {
        margin-top: 293px;
      }

      .app-title-section {
      color: #808369;
    }

    .app-title-description {
      color: #434343;
    }
  }

  &.white {
    color: white;
    background-image: url("img/Vector Smart Object copy 9.png");

    &.one {
      background: {
        position: center 110px;
      }
      padding-top: 110px;
    }
    &.two {
      background-position: center 193px;
      padding-top: 193px;
    }
  }

  &-section {
    font-size: $font-xs-small;
    text-transform: uppercase;
    padding-bottom: 25px;
  }

  &-description {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
  }
}

.story {
  margin-top: 106px;
  margin-bottom: 110px;
}

.main {
  background: {
    image: url("img/About bg.png");
    color: #f3f1ec;
    repeat: no-repeat;
    position: top center;
  }
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 110px;

  .quote {
    text-align: center;
    font-family: 'pt_serifbold', $font-fallback;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color:  #808369;
    padding-top: 56px;
  }
}

.card {
  background-color: #fff;
  }

.left-picture {
  background: {
    image: url('img/about-us-im.png');
    position: center center;
    size: cover;
  }
  height: 541px;
}

.card-title {
  font-family: 'pt_serifbold', $font-fallback;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  padding-left: 86px;
  padding-top: 94px;
  color:  #808369;
}

.card-text {
  padding-top: 36px;
  color: #929292;
  font-family: 'pt_serifregular', $font-fallback;
  font-size: $font-xs-small;
  font-weight: 400;
  line-height: 24px;
  padding-left: 86px;
  width: 385px;
  box-sizing: content-box;

  span {
    font-family: 'pt_serifbold', $font-fallback;
    font-size: 22px;
    color: #434343;

  }
}

.menu {
  font-family: 'pt_serifbold', $font-fallback;
  font-size: 16px;
  font-weight: 700;

  margin-top: 106px;
  text-transform: uppercase;
  color: #808369;
  }

.menu .col {
  background: {
    repeat: no-repeat;
    color: #fff;
    position: center 15px;
  }
  position: relative;
  border-bottom: none ;
  width: 240px;
  height: 270px;
  margin-right: 20px;

  p {
    background-image: radial-gradient(at top, #f5f5f3 19px, white 120px, white 240px);
    height: 95px;
    width: 240px;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 27px;


    }

  &:nth-child(1) {
    background-image: url("img/canapes.png");
  }

  &:nth-child(2) {
    background-image: url("img/small_plates.png");
  }

  &:nth-child(3) {
    background-image: url("img/sweets.png");
  }

  &:nth-child(4) {
    background-image: url("img/drinks.png");
    margin-right: 0;
  }
  .fa-angle-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer;
    background-color: #f3f2ed;
    width: 38px;
    height: 19px;
    text-align: center;
    line-height: 30px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: translateX(-50%);
  }
}

.event {
  font-family: 'pt_serifbold', $font-fallback;

  h4 {
    text-transform: uppercase;
    font-size: $font-sm-small;
    color: $brown;
    margin-bottom: 55px;
    margin-top: 55px;
    position: relative;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-size: $font-xs-small;
    color: $grey;
    font-weight: 400;
    line-height: 24px;
  }

  .left-text {
    counter-reset: section;
    text-align: right;

    h4 {
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        top: 34px;
        right: 0;
      }

      &:after {
        content: "0" counter(section);
        counter-increment: section;
        position: absolute;
        font-size: $font-lg-small;
        line-height: 28px;
        font-weight: 700;
        color:  #eae8e0;
        display: block;
        right: -62px;
        top: 2px;
        box-sizing: border-box;
      }
      }
  }

  &-picture {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right-text {
    counter-reset: list 3;
    text-align: left;

    h4 {
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        top: 34px;
        left: 0;
      }

      &:after {
        content: "0" counter(list);
        counter-increment: list;
        position: absolute;
        font-size: $font-lg-small;
        line-height: 28px;
        font-weight: 700;
        color:  #eae8e0;
        display: block;
        left: -62px;
        top: 2px;
        box-sizing: border-box;
      }
    }
  }
  }

.under-main {
  background: {
    image: url("img/Depositphotos_24590415_original copy.png");
    color: #f3f1ec;
    repeat: no-repeat;
    position: top center;
  }
  min-height: 100vh;
  position: relative;
  padding-bottom: 119px;
  margin-bottom: 110px;
  margin-top: 110px;
  font-family: 'pt_serifbold', $font-fallback;

  .testimonials {
  margin-top: 159px;


    .content {
      height: 259px;
      position: relative;
      background-color: white;

      p {
        font-size: $font-sm-small;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        color: $brown;
        padding-top: 88px;
        position: relative;

        &:before {
          content: url("img/Depositphotos_26240763_original.png");
          display: block;
          width: 95px;
          height: 95px;
          position: absolute;
          top: 0;
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
          border: 8px solid $light-brown;
          border-radius: 50%;
          box-sizing: content-box;
        }
      }

       .fa-angle-down {
        display: block;
        position: absolute;
        bottom: 50%;
        color: #808369;
        font-size: 16px;
        cursor: pointer;
        background-color: #f3f2ed;
        width: 62px;
        height: 52px;
        text-align: center;
        line-height: 30px;
         border-radius: 50%;

        &.left {
          transform: rotate(90deg) translateX(50%) translateY(100%);
        }
        &.right {
          transform: rotate(-90deg) translateX(-50%);
          right: -37px;
        }
      }}
      .quote {
        font-size: $font-xs-small;
        color: $grey;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 711px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 68px;
        margin: 0 auto;
        background: {
          color: #fbfbfa;
          image: repeating-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(247, 247, 245) 50%, rgb(255, 255, 255) 100%);
        }
      }
    }}

.articles .col {
  background: {
    repeat: no-repeat;
    position: top center;
  }
  margin-right: 15px;
  height: 453px;
  font-family: 'pt_serifbold', $font-fallback;
  text-align: center;
  margin-bottom: 110px;

  p {
    padding-top: 233px;
    font-size: $font-xs-small;
    color: $brown;
    text-transform: uppercase;
    font-weight: 700;
  }

  h6 {
   font-size: $font-sm-small;
    font-weight: 700;
    line-height: 33px;
   color: $light-black;
    text-transform: capitalize;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:nth-child(1) {
    background-image: url("img/Depositphotos_92197920_original.png");
  }

  &:nth-child(2) {
    background-image: url("img/Depositphotos_70224577_original.png");
  }

  &:nth-child(3) {
    background-image: url("img/Depositphotos_10888700_original.png");
  }
  }

.footer {
  background: {
    image: url("img/Depositphotos_58523849_original.png");
    color: #f3f1ec;
    repeat: no-repeat;
    position: top center;
  }
  min-height: 100vh;
  position: relative;
  padding-bottom: 109px;
  margin-bottom: 110px;


.pre-footer {
  margin-top: 106px;
  margin-bottom: 110px;

  .pre-footer-picture {
    background: {
      image: url('img/Depositphotos_42938439_original.png');
      position: center center;
      size: cover;
    }
    height: 541px;
  }

  .pre-footer-text {
    padding-top: 94px;
    padding-left: 71px;
    font-family: 'pt_serifregular', $font-fallback;
    font-size: $font-xs-small;
    font-weight: 400;
    line-height: 24px;
    color: $grey;

    .card-text-one {
      width: 412px;
      box-sizing: content-box;
      position: relative;

      &:before {
        content: '';
        background: url('img/cov.png');;
        display: block;
        position: absolute;
        height: 45px;
        width: 62px;
        top: -12px;
        left: -2px;
    }
    }
    .card-text-two {
    padding-top: 82px;
      text-transform: capitalize;
      position: relative;

      span {
        font-family: 'pt_serifbold', $font-fallback;
        font-size: $font-sm-small;
        color: $brown;
        font-weight: 700;
        line-height: 35px;
        padding-right: 14px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        top: 39px;

      }
        }
  }
  }
}

.staff .col {
  text-transform: capitalize;
  background: {
    repeat: no-repeat;
    position: top center;
  }
  margin-top: 113px;
  text-align: center;

  h3 {
    font-family: 'pt_serifbold', $font-fallback;
    font-size: $font-sm-small;
    color: $brown;
    padding-top: 291px;

  }

  p {
    font-family: 'pt_serifregular', $font-fallback;
    font-size: $font-xs-small;
    color: $grey;
    margin-top: 14px;
  }

  &:nth-child(1) {
    background-image: url("img/Amanda_Finch.png");
  }

  &:nth-child(2) {
    background-image: url("img/Joseph_Verder.png");
  }

  &:nth-child(3) {
    background-image: url("img/Anthony_Mann.png");
  }

  &:nth-child(4) {
    background-image: url("img/Julia_Green.png");
  }
}

.picture-item {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.second-row {
  margin-top: 30px;
}


