@import "fonts.css";


$light-brown: #f3f1ec;
$brown: #808369;
$vanil:#ffb18b;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;


header {
  color: $brown;

}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-top-line {
  position: relative;
  background-color: $light-brown;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pt_serifbold', $font-fallback;
    text-transform: uppercase;
    height: 56px;
    font-size: $font-xs-small;
    font-weight: 700;
    cursor: pointer;

    li {
      border-left: 1px solid #d0ceca;
      padding: 0 25px;

      &:hover {
        color: black;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 51px;
  height: 110px;
  background: {
    image: url("img/Vector Smart Object.png");
    repeat: no-repeat;
    position: bottom center;
  }
  letter-spacing: 1px;

  &-left {
    text-align: right;
    font-size: $font-xs-small;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-phone {
      padding-left: 5px;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: flipH();
      -ms-filter: "FlipH";
    }
  }

  &-center {
    text-align: center;
    h1 {
      font-family: 'yellowtailregular', $font-fallback;
      font-size: 45px;
      color: #434343;
      line-height: .7;
    }

    p {
      font-size: 12px;
      font-family: 'pt_serifbold', $font-fallback;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px;
    }
  }

  &-right {
    text-align: right;
    font-size: $font-xs-small;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-shopping-cart {
      padding-right: 5px;
    }
  }
}

header i.fa.fa-angle-down {
  display: block;
  width: 10px;
  margin: 62px auto 0;
}


.header-main {
  background-image: url("img/test.png");
  min-height: 773px;
    background: {
    repeat: no-repeat;
    position: top center;
    size: contain;
  }
  padding-top: 245px;
  margin-bottom: 110px;
  }

.header-main-text {
  font-size: 60px;
  font-family: 'pt_serifbold', $font-fallback;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    top: -53px;
    left: 50%;
    margin-left: -55px;

  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    bottom: -53px;
    left: 50%;
    margin-left: -55px;
  }
}

.app-button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'pt_serifbold', $font-fallback;
  color: white;
  background-color: $vanil;
  transition: .5s;
  width: 243px;
  height: 60px;

&.large {
  font-size: $font-xs-small;
  width: 273px;
  height: 72px;
  margin: 113px auto;
}

&.mas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 103px auto;
}
  &.rfs {
    margin-left: 86px;
    margin-top: 60px;
  }

  &.vfm {
    margin: 58px auto;
  }

  &.ms {
    margin: 65px auto 0;
  }

  &:hover {
    color: black;
    border-radius: 15px;
    background-color: $brown;
  }
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 84px;
  margin: 89px auto 0;

  div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;

    &.active {
      background-color: #4e5b61;
    }

    &:hover:not(.active) {
      background-color: #ffffff;
    }
  }
}


.under-header {
  text-align: center;
  font-family: 'pt_serifbold', $font-fallback;
  background: {
    image: url("img/Vector Smart Object1.png");
    repeat: no-repeat;
    position: top center;
  }
  position: relative;
  p {
    font-size: $font-xs-small;
    text-transform: uppercase;
   color: $brown;
    margin-bottom: 15px;
  }
  h2 {
 color: #434343;
    font-size: 35px;
 }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
      }
}

.welcome .col {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;

  .fa-angle-down {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer;
  }

  &:nth-child(1) {
    background-image: url("img/Events.png");
    margin-right: 30px;
  }

  &:nth-child(2) {
    background-image: url("img/Food&Drinks.png");
    margin-right: 30px;
  }
  &:nth-child(3) {
    background-image: url("img/Venues.png");
  }
}

.welcome {
  font-family: 'yellowtailregular', $font-fallback;
  font-size: 45px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color:  #fff;
  margin-top: 106px;
  height: 473px;
}

.app-title {
  font-family: 'pt_serifbold', $font-fallback;
  text-align: center;
  background: {
    repeat: no-repeat;
    position: center top;
  }
  position: relative;

    &.dark {
      background-image: url("img/Vector Smart Object1.png");
      &.one {
        margin-bottom: 112px;
      }
      .app-title-section {
      color: #808369;
    }

    .app-title-description {
      color: #434343;
    }
  }

  &.white {
    color: white;

    &.one {
      background: {
        image: url("img/Vector Smart Object copy 9.png");
        position: center 110px;
      }
      padding-top: 110px;
    }
  }

  &-section {
    font-size: $font-xs-small;
    text-transform: uppercase;
    padding-bottom: 26px;
  }

  &-description {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
  }
}

.story {
  margin-top: 106px;
  margin-bottom: 110px;
}

.main {
  background: {
    image: url("img/About bg.png");
    color: #f3f1ec;
    repeat: no-repeat;
    position: top center;
  }
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 110px;

  .quote {
    text-align: center;
    font-family: 'pt_serifbold', $font-fallback;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color:  #808369;
    padding-top: 56px;
  }
}

.card {
  background-color: #fff;
  }

.left-picture {
  background: {
    image: url('img/about-us-im.png');
    position: center center;
    size: cover;
  }
  height: 541px;
}

.card-title {
  font-family: 'pt_serifbold', $font-fallback;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  padding-left: 86px;
  padding-top: 94px;
  color:  #808369;
}

.card-text {
  padding-top: 36px;
  color: #929292;
  font-family: 'pt_serifregular', $font-fallback;
  font-size: $font-xs-small;
  font-weight: 400;
  line-height: 24px;
  padding-left: 86px;
  width: 385px;
  box-sizing: content-box;

  span {
    font-family: 'pt_serifbold', $font-fallback;
    font-size: 22px;
    color: #434343;

  }
}

.menu {
  font-family: 'pt_serifbold', $font-fallback;
  font-size: 16px;
  font-weight: 700;

  margin-top: 106px;
  text-transform: uppercase;
  color: #808369;
  }

.menu .col {
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  background-position: center 15px;
  border-bottom: none ;
  width: 240px;
  height: 270px;
  margin-right: 20px;

  p {
    background-image: radial-gradient(at top, #f5f5f3 19px, white 120px, white 240px);
    height: 95px;
    width: 240px;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 27px;


    }

  &:nth-child(1) {
    background-image: url("img/canapes.png");
  }

  &:nth-child(2) {
    background-image: url("img/small_plates.png");
  }

  &:nth-child(3) {
    background-image: url("img/sweets.png");
  }

  &:nth-child(4) {
    background-image: url("img/drinks.png");
    margin-right: 0;
  }
  .fa-angle-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #808369;
    font-size: 16px;
    cursor: pointer;
    background-color: #f3f2ed;
    width: 38px;
    height: 19px;
    text-align: center;
    line-height: 30px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: translateX(-50%);
  }
}

.event {
  h4 {
    text-transform: uppercase;
    font-family: 'pt_serifbold', $font-fallback;
    font-size: $font-xs-small;
    color: $brown;
    margin-bottom: 55px;
    margin-top: 55px;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      bottom: -21px;
     }
  }

  p {

  }

  .left-text {

    h4 {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 111px;
        height: 2px;
        background-color: #a7a99a;
        bottom: -21px;
        right: 0;
        }
    }
    text-align: right;
    }
  }


