@import "fonts.css";
@import "var";
@import "base/_api.scss";

header.header {
  color: $brown;
  font-family: 'pt_serifbold', $font-fallback;
  text-transform: uppercase;

  padding: 0;
}

.header-top-line {
  position: relative;
  background-color: $light-brown;

  .app-nav {
    justify-content: center;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-height: 56px;
    font-size: $font-xs-small;
    font-weight: 700;
    cursor: pointer;

    &-item {
      border-left: 1px solid #d0ceca;
      padding: 0 25px;

      &:hover {
        color: black;
      }

      &:first-child {
        border: none;
      }
    }
  }

  @include mq(992,  "max") {
    .header-top-line__menu-item {
      border-left: none;
      padding: 0;
    }

    .header-top-line__menu {
      li:first-of-type {
        display: none;
      }

      li {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
      }

    }

    .navbar-expand-lg {

    }
  }
}



.header-title-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 51px;
  min-height: 110px;

  font-size: $font-xs-small;
  letter-spacing: 1px;

  @include mq("tablet-wide",  "max") {
    flex-direction: column;
    align-items: center;
  }

  &__contacts {
    text-align: right;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    @include mq("tablet-wide",  "max") {
      margin-top: 20px;
      text-align: center;
      order: 2
    }

    i.fa.fa-phone {
      padding-left: 5px;
      transform: scale(-1, 1);
      filter: flipH();
    }
  }

  &__title {
    text-align: center;
    position: relative;

    @include mq("tablet-wide",  "max") {
      order: 1
    }

    &:before {
      width: 283px;
      height: 81px;
      @include pseudo();
      background: {
        image: url("img/Vector Smart Object.png");
        repeat: no-repeat;
        position: bottom center;
      }
      bottom: 10px;
      left: -92px;
    }

    h1 {
      font-family: 'yellowtailregular', $font-fallback;
      font-size: 45px;
      color: #434343;
      line-height: .7;
      text-transform: none;
    }

    p {
      margin-top: 14px;
      text-transform: uppercase;
    }
  }

  &__basket {
    text-align: right;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    @include mq("tablet-wide",  "max") {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      order: 3
    }

    i.fa.fa-shopping-cart {
      padding-right: 5px;
    }
  }



}

.header-catering {
  min-height: 773px;
  background: {
    repeat: no-repeat;
    position: top center;
    size: cover;
    image: url("img/test.png");
  }
  margin-bottom: 110px;
  padding-top: 245px;
  position: relative;

  &__text {
    font-size: 60px;
    color: #fff;
    text-align: center;
    position: relative;

    &:before,
    &:after {
      @include pseudo;
      width: 111px;
      height: 2px;
      background-color: white;
      left: 50%;
      transform: translate(-50%);
    }

    &:before {
      top: -50px;

    }
    &:after {
      bottom: -50px;
    }
  }

  &-circles {
    display: flex;
    justify-content: space-between;
    width: 84px;
    margin: 0 auto;

    &__item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(#fff, .5);
      cursor: pointer;

      .active {
        background-color: #4e5b61;
      }

      &:hover:not(active) {
        background-color: #fff;
      }
    }
  }

  i.fa.fa-angle-down {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
  }
}

//media
//
//  //mobile
//  @media screen and (max-width: 768px) {
//
//  }