@import "fonts.css";


$light-brown: #f3f1ec;
$brown: #808369;
$vanil:#ffb18b;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;


header {
  color: $brown;

}


.container {
  width: 1170px;
  /*ширина блока*/
  margin: 0 auto;
  /*вирівнює по центру*/
}

.header-top-line {
    position:relative;
  background-color: $light-brown;
    }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pt_serifbold', $font-fallback;
    text-transform: uppercase;
    height: 56px;
    font-size: $font-xs-small;
    font-weight: 700;
    cursor: pointer;

    li {
      border-left: 1px solid #d0ceca;
      padding: 0 25px;

      &:hover {
        color: black;
      }

      &:first-child {
        border: none;
      }
    }
  }

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 51px;
  height: 110px;
  background-image: url("img/Vector Smart Object.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  letter-spacing: 1px;
}

.header-title-left {
  text-align: right;
  font-size: $font-xs-small;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 700;
  width: 160px;
}

i.fa.fa-shopping-cart {
  padding-right: 5px;
}

.header-title-center {
  text-align: center;
h1 {
  font-family: 'yellowtailregular', $font-fallback;
  font-size: 45px;
  color: #434343;
  line-height: .7;
  }

  p {
    font-size: 12px;
    font-family: 'pt_serifbold', $font-fallback;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
  }
}

.header-title-right {
  text-align: right;
  font-size: $font-xs-small;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 700;
  width: 160px;
}

i.fa.fa-phone {
  padding-left: 5px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: flipH();
  -ms-filter: "FlipH";

}

.header-main {
  background-image: url("img/test.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 245px;
  }

.header-main-text {
  font-size: 60px;
  font-family: 'pt_serifbold', $font-fallback;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    top: -53px;
    left: 50%;
    margin-left: -55px;

  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: white;
    bottom: -53px;
    left: 50%;
    margin-left: -55px;
  }
}

.app-button {
  display: block;
  box-sizing: border-box;
  margin: 113px auto;
  text-transform: uppercase;
  font-family: 'pt_serifbold', $font-fallback;
  font-size: $font-xs-small;
  color: white;
  padding: 31px 65px;
  background-color: $vanil;
  transition: .5s;

  &:hover {
    color: black;
    border-radius: 15px;
    background-color: $brown;
  }
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 84px;
  margin: 89px auto 0;

  div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;

    &.active {
      background-color: #4e5b61;
    }

    &:hover:not(.active) {
      background-color: #ffffff;
    }
  }
}

i.fa.fa-angle-down {
  display: block;
  width: 10px;
  margin: 60px auto 0;
}

.under-header {
  text-align: center;
  font-family: 'pt_serifbold', $font-fallback;
  background-image: url("img/Vector Smart Object1.png");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  margin-top: 110px;
p {
  font-size: $font-xs-small;
  text-transform: uppercase;
  color: $brown;
  margin-bottom: 15px;
}
  h2 {
 color: #434343;
    font-size: 35px;
 }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 111px;
    height: 2px;
    background-color: #a7a99a;
    bottom: -42px;
    left: 50%;
    margin-left: -55px;
      }
}

.welcome .col {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  &:nth-child(1) {
    background-image: url("img/Events.png");
    margin-right: 30px;
  }

  &:nth-child(2) {
    background-image: url("img/Food&Drinks.png");
    margin-right: 30px;
  }
  &:nth-child(3) {
    background-image: url("img/Venues.png");
  }
}


.welcome {
  font-family: 'yellowtailregular', $font-fallback;
  font-size: 45px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color:  #fff;
  margin-top: 106px;
  height: 473px;
}

.app-button-main {
  font-family: 'pt_serifbold', $font-fallback;
  font-size: $font-xs-small;
  color: white;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: $vanil;
  transition: .5s;
  width: 243px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 103px auto;

  &:hover {
    color: black;
    border-radius: 15px;
    background-color: $brown;
  }
}

.main {
  background-image: url("img/About bg.png");
  background-color: #f3f1ec;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 245px;
}