.container {
	font-family: Verdana;
	color: red;
	padding: 20px 10px;
	text-align: center;
	width: 1024px;
	box-sizing: -webkit-padding-box;
	border: 5px solid red;
	margin: 50px auto;
}
/*
.container .item {
	display: inline-block;
	height: 200px;
}

.item1 {
	width: 490px;
}

.item2 {
	width: 200px;
}

.item3 {
	width: 314px;
}*/