@font-face {
  font-family: 'ralewaylight';
  src: url("/fonts/raleway-light-webfont.eot");
  src: url("/fonts/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-light-webfont.woff2") format("woff2"), url("/fonts/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("/fonts/raleway-semibold-webfont.eot");
  src: url("/fonts/raleway-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-semibold-webfont.woff2") format("woff2"), url("/fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaythin';
  src: url("/fonts/raleway-thin-webfont.eot");
  src: url("/fonts/raleway-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-thin-webfont.woff2") format("woff2"), url("/fonts/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavblack';
  src: url("/fonts/yantramanav-black-webfont.eot");
  src: url("/fonts/yantramanav-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-black-webfont.woff2") format("woff2"), url("/fonts/yantramanav-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanav_boldbold';
  src: url("/fonts/yantramanav-bold-webfont.eot");
  src: url("/fonts/yantramanav-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-bold-webfont.woff2") format("woff2"), url("/fonts/yantramanav-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavlight';
  src: url("/fonts/yantramanav-light-webfont.eot");
  src: url("/fonts/yantramanav-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-light-webfont.woff2") format("woff2"), url("/fonts/yantramanav-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavmedium';
  src: url("/fonts/yantramanav-medium-webfont.eot");
  src: url("/fonts/yantramanav-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-medium-webfont.woff2") format("woff2"), url("/fonts/yantramanav-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavregular';
  src: url("/fonts/yantramanav-regular-webfont.eot");
  src: url("/fonts/yantramanav-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-regular-webfont.woff2") format("woff2"), url("/fonts/yantramanav-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavthin';
  src: url("/fonts/yantramanav-thin-webfont.eot");
  src: url("/fonts/yantramanav-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/yantramanav-thin-webfont.woff2") format("woff2"), url("/fonts/yantramanav-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #191e3f; }

.header {
  background-image: url("/img/mountains header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1182px; }
  .header-content {
    position: relative; }
    .header-content img {
      margin: 0 auto;
      padding-top: 84px;
      padding-bottom: 333px;
      display: block; }
    .header-content .header-title {
      font-family: "ralewaythin", Verdana, serif, sans-serif;
      color: rgba(255, 255, 255, 0.5);
      font-size: 76px;
      line-height: 60px;
      text-align: center; }
    .header-content:after {
      content: "";
      display: block;
      position: absolute;
      border-bottom: 3px solid white;
      border-top: 3px solid white;
      width: 47px;
      height: 17px;
      background-color: inherit;
      top: 114px;
      right: 0; }

.main {
  position: relative;
  background-color: rgba(25, 30, 63, 0.8); }
  .main:before {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    top: 933px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/projects background.png");
    background-repeat: no-repeat;
    background-position: top center; }

.mission {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .mission-text {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-family: "ralewaylight", Verdana, serif, sans-serif;
    width: 474px;
    font-size: 19px;
    font-weight: 100;
    right: 0; }
    .mission-text-two {
      margin-top: 20px; }
  .mission img {
    box-shadow: 0 270px 230px 70px rgba(0, 0, 0, 0.26);
    box-sizing: content-box; }

.projects {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .projects-icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 508px; }
    .projects-icon .top-picture {
      margin-bottom: 112px; }

.letter {
  text-transform: uppercase;
  font-family: "ralewaysemibold", Verdana, serif, sans-serif;
  color: rgba(25, 30, 63, 0.4);
  font-size: 1295px;
  font-weight: 900;
  text-shadow: 0 178px 200px rgba(0, 0, 0, 0.35); }
  .letter.r {
    margin-top: -223px;
    margin-left: -136px; }
  .letter.t {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0; }
  .letter.e {
    position: absolute;
    line-height: 1000px;
    top: 0;
    left: 0; }

.number {
  font-family: "yantramanavregular", Verdana, serif, sans-serif;
  color: rgba(255, 255, 255, 0.0117647);
  font-size: 286px;
  font-weight: 900; }
  .number.one {
    position: relative;
    margin-left: -60px;
    margin-right: -40px; }
    .number.one:before {
      position: absolute;
      content: 'mission';
      font-family: "ralewaythin", Verdana, serif, sans-serif;
      color: rgba(255, 255, 255, 0.3);
      font-size: 30px;
      font-weight: 100;
      transform: translateY(-50%) translateX(-50%) rotate(-90deg);
      top: 50%;
      left: 50%; }
  .number.two {
    position: relative;
    margin-top: 300px; }
    .number.two:before {
      position: absolute;
      content: 'projects';
      font-family: "ralewaythin", Verdana, serif, sans-serif;
      color: rgba(255, 255, 255, 0.3);
      font-size: 30px;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%; }
  .number.three {
    position: relative;
    margin-top: -140px; }
    .number.three:before {
      position: absolute;
      content: 'team';
      font-family: "ralewaythin", Verdana, serif, sans-serif;
      color: rgba(255, 255, 255, 0.3);
      font-size: 30px;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%; }
  .number.four {
    position: relative;
    display: flex;
    justify-content: center; }
    .number.four:before {
      position: absolute;
      content: 'event';
      font-family: "ralewaythin", Verdana, serif, sans-serif;
      color: rgba(255, 255, 255, 0.3);
      font-size: 30px;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%; }

.app-team {
  margin-top: 100px;
  position: relative; }
  .app-team .first-line {
    display: flex;
    justify-content: flex-start; }
    .app-team .first-line .content {
      margin-left: 181px;
      position: relative; }
      .app-team .first-line .content img {
        box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
      .app-team .first-line .content .text {
        width: 322px;
        position: absolute;
        top: 320px;
        left: -169px; }
        .app-team .first-line .content .text .quote {
          font-family: "ralewaythin", Verdana, serif, sans-serif;
          color: rgba(255, 255, 255, 0.2);
          font-size: 14px;
          font-weight: 100; }
          .app-team .first-line .content .text .quote.top {
            margin-bottom: 20px; }

.title {
  font-family: "ralewaythin", Verdana, serif, sans-serif;
  color: rgba(255, 255, 255, 0.3);
  font-size: 40px;
  font-weight: 100;
  position: relative; }
  .title:before {
    content: '';
    display: block;
    position: absolute;
    width: 56px;
    height: 5px;
    background-color: #fff;
    top: -33px;
    left: 0; }

.subtitle {
  font-family: "ralewaythin", Verdana, serif, sans-serif;
  color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  font-weight: 100;
  margin-top: 17px;
  margin-bottom: 46px; }

.second-line {
  margin-top: 148px;
  display: flex;
  justify-content: space-between; }
  .second-line .app-business {
    position: relative; }
    .second-line .app-business img {
      margin-left: -144px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
    .second-line .app-business-content {
      position: absolute;
      right: -280px;
      top: 240px; }
  .second-line .app-marketing {
    margin-top: 132px;
    position: relative; }
    .second-line .app-marketing img {
      margin-left: 192px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
    .second-line .app-marketing-content {
      position: absolute;
      right: 170px;
      top: 280px; }

.third-line {
  margin-top: 29px;
  display: flex;
  justify-content: space-between; }
  .third-line .app-director {
    position: relative; }
    .third-line .app-director img {
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
    .third-line .app-director-content {
      position: absolute;
      left: -100px;
      top: 272px; }
  .third-line .app-finance {
    margin-top: 230px;
    position: relative; }
    .third-line .app-finance img {
      margin-left: -35px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
    .third-line .app-finance-content {
      position: absolute;
      right: -215px;
      top: 280px; }

.footer {
  margin-top: 200px;
  height: 500px;
  position: relative;
  background-image: url("/img/footer.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  z-index: -1; }

/*# sourceMappingURL=style.css.map */
