@import "fonts.css";
@import "var";
@import "base/_api.scss";

body {
  background-color: $bg-color;
}

.header {
  background: {
    image: url("img/mountains header.png");
    size: cover;
    repeat: no-repeat;
  }
  height: 1182px;

  &-content {

    position: relative;
    img {
      margin: 0 auto;
      padding: {
        top: 84px;
        bottom: 333px;
      }
      display: block;
    }

    .header-title {
      font-family: 'ralewaythin', $font-fallback;
      color: rgba(255, 255, 255, .5);
      font-size: 76px;
      line-height: 60px;
      text-align: center;
    }

    &:after {
      @include pseudo;
      border-bottom: 3px solid white;
      border-top: 3px solid white;
      width: 47px;
      height: 17px;
      background-color: inherit;
      top: 114px;
      right: 0;
    }
  }
}

.main {
  position: relative;
  background-color: rgba(25, 30, 63, .8);

  &:before {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    top: 933px;
    left: 0;
    right: 0;
    bottom: 0;
    background: {
      image: url("img/projects background.png");
      repeat: no-repeat;
      position: top center;
    }
  }
}

.mission {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  &-text {
    position: absolute;
    color: rgba(255, 255, 255, .3);
    font-family: 'ralewaylight', $font-fallback;
    width: 474px;
    font-size: 19px;
    font-weight: 100;
    right: 0;

    &-two {
      margin-top: 20px;
    }
  }

  img {
    box-shadow: 0 270px 230px 70px rgba(0, 0, 0, 0.26);
    box-sizing: content-box;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  position: relative;

  &-icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 508px;

    .top-picture {
      margin-bottom: 112px;
    }
  }
}

.letter {
  text-transform: uppercase;
  font-family: 'ralewaysemibold', $font-fallback;
  color: rgba(25, 30, 63, .4);
  font-size: 1295px;
  font-weight: 900;
  text-shadow: 0 178px 200px rgba(0, 0, 0, 0.35);

  &.r {
    margin-top: -223px;
    margin-left: -136px;
  }

  &.t {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  &.e {
    margin-top: 355px;
    margin-left: 355px;
    //position: absolute;
  }
}

.number {
  font-family: 'yantramanavregular', $font-fallback;
  color: rgba(255, 255, 255, 0.0117647);
  font-size: 286px;
  font-weight: 900;

  &.one {
    position: relative;
    margin-left: -60px;
    margin-right: -40px;

    &:before {
      position: absolute;
      content: 'mission';
      font-family: 'ralewaythin', $font-fallback;
      color: $text-color;
      font-size: $font-md-small;
      font-weight: 100;
      transform: translateY(-50%) translateX(-50%) rotate(-90deg);
      top: 50%;
      left: 50%;
    }
  }

  &.two {
    position: relative;
    margin-top: 300px;

    &:before {
      position: absolute;
      content: 'projects';
      font-family: 'ralewaythin', $font-fallback;
      color: $text-color;
      font-size: $font-md-small;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%;
    }
  }

  &.three {
    position: relative;
    margin-top: -140px;

    &:before {
      position: absolute;
      content: 'team';
      font-family: 'ralewaythin', $font-fallback;
      color: $text-color;
      font-size: $font-md-small;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%;
    }
  }

  &.four {
    position: relative;
    display: flex;
    justify-content: center;

    &:before {
      position: absolute;
      content: 'event';
      font-family: 'ralewaythin', $font-fallback;
      color: $text-color;
      font-size: $font-md-small;
      font-weight: 100;
      transform: translateY(400%) translateX(-50%) rotate(-90deg);
      top: 0;
      left: 50%;
    }
  }
}

.app-team {
  margin-top: 100px;
  position: relative;

  .first-line {
    display: flex;
    justify-content: flex-start;

    .content {
      margin-left: 181px;
      position: relative;

      img {
        box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
      }

      .text {
        width: 322px;
        position: absolute;
        top: 320px;
        left: -169px;

        .quote {
          font-family: 'ralewaythin', $font-fallback;
          color: rgba(255, 255, 255, .2);
          font-size: $font-xs-small;
          font-weight: 100;

          &.top {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.title {
  font-family: 'ralewaythin', $font-fallback;
  color: $text-color;
  font-size: $font-lg-small;
  font-weight: 100;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 56px;
    height: 5px;
    background-color: #fff;
    top: -33px;
    left: 0;
  }
}

.subtitle {
  font-family: 'ralewaythin', $font-fallback;
  color: rgba(255, 255, 255, .2);
  font-size: $font-sm-small;
  font-weight: 100;
  margin-top: 17px;
  margin-bottom: 46px;
}

.second-line {
  margin-top: 148px;
  display: flex;
  justify-content: space-between;

  .app-business {
    position: relative;

    img {
      margin-left: -144px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    }

    &-content {
      position: absolute;
      right: -280px;
      top: 240px;
    }
  }

  .app-marketing {
    margin-top: 132px;
    position: relative;

    img {
      margin-left: 192px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    }

    &-content {
      position: absolute;
      right: 170px;
      top: 280px;
    }
  }
}

.third-line {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;

  .app-director {
    position: relative;

    img {
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    }

    &-content {
      position: absolute;
      left: -100px;
      top: 272px;
    }
  }

  .app-finance {
    margin-top: 230px;
    position: relative;

    img {
      margin-left: -35px;
      box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    }

    &-content {
      position: absolute;
      right: -215px;
      top: 280px;
    }
  }
}

.footer {
  margin-top: 200px;
  background: {
    image: url("img/footer.png");
    repeat: no-repeat;
    position: bottom center;
    size: contain;
  }
  z-index: -1;


  &-content {

    &-title {
      position: relative;
    }



  }
}
