@import 'var';
@import 'base/api.scss';

.ingridients {
    &-item {
        margin-bottom: 30px;
        &:nth-of-type(2n + 1) {
            .ingridients-item__picture {
                box-shadow: 12px -2px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                &-cap {
                    left: -20px;
                }
            }
        }
        &:nth-of-type(2n) {
            .ingridients-item__picture {
                box-shadow: 12px -2px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                @include mq('tablet') {
                    box-shadow: 18.5px 32.043px 19.53px 1.47px rgba(0, 0, 0, 0.07);
                }
                &-cap {
                    left: -20px;
                    right: 0;
                    @include mq('tablet') {
                        left: 20px;
                    }
                }
            }
        }
        &__sign {
            font: {
                family: 'golden_youth_scriptregular', $font-fallback;
                size: 36px;
            }
            padding-bottom: 10px;
            color: $primary-color;
            @include mq('tablet') {
                font-size: 54px;
            }
        }
        &__picture-block {
            margin-left: 20px;
            @include mq('tablet') {
                margin-left: 0;
            }
            .ingridients-item__picture {
                width: 100%;
                height: 320px;
                padding-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #fff;
                img {
                    height: 60%;
                    max-width: 100%;
                    object: {
                        fit: cover;
                        position: center;
                    }
                }
                &-wide {
                    img {
                        height: 40%;
                        @include mq('tablet') {
                            height: 60%;
                        }
                    }
                }
                &-cap {
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient( 0, rgb(236, 224, 249) 0%, rgb(255, 242, 255) 43%, rgb(255, 238, 226) 99%);
                    position: absolute;
                    z-index: -1;
                    top: 20px;
                }
            }
        }
        &__description {
            padding: {
                top: 70px;
                right: 50px;
                left: 50px;
            }
            text-align: center;
            @include mq('tablet') {
                text-align: left;
                padding: {
                    right: 100px;
                    left: 20px;
                }
            }
            .app-text--bold {
                margin-top: 10px;
            }
        }
    }
}