@import 'var';
@import 'base/api.scss';

.story {
    &-title {
        text-transform: uppercase;
    }

    &-section {
        padding-top: 100px;
        background: {
            image: url('../assets/img/header_logo_mobile.png');
            size: cover;
            repeat: no-repeat;
            position: center bottom;
        }

        @include mq('tablet') {
            &__container {
                padding: 0;
            }
        }
        @include mq('tablet') {
            background-image: url('../assets/img/header_logo_desctop.png');
            background-position: center center;
        }
    }

    &-text {
        font: {
            family: 'Myriad Pro Regular' $font-fallback;
            size: $font-sm-small;
        }
        color: #424242;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 115px;
        @include mq('tablet') {
            font-size: 24px;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

.nav-section {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    font: {
        family: 'Rubik Light' $font-fallback;
        size: 24px;
    }
    color: #363636;
    text-transform: uppercase;

    @include mq('tablet') {
        display: flex;
        position: static;
        width: 100%;
        height: 75px;
        background-color: transparent;
    }
  
    &__menu {
        list-style-type: none;
        margin: 0;
        padding:0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        @include mq('tablet') {
            flex-direction: row;
        }

        &-link {
            text-decoration: none;
            color: black;
            height: 74px;
            padding: 0;
            &:hover {
                text-decoration: none;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: white;
            height: 100%;
            cursor: pointer;
            transition: 0.3s ease-out;
            margin-bottom: 20px;

            &:hover,
            &:focus,
            &:active {
                background-color: $nav-section-color;
                color: #fff;
                transition: 0.3s ease-out;
            }
        }
    }
    @include mq('tablet') {
        display: block;
        margin-bottom: 0px;
    }
}
