$app-text-color: #363636;
$app-title-color: #282828;
$hamburger-color: #2d1b45;
$primary-color: #4d008c;
$nav-section-color: #54326a;
$light-pink: #fd54cf;
$scincare-color: #512e91;
$secondary-color: #c5508a;
$footer-color: #2e1a45;
$header-nav-color: #f9f9f9;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;