@import 'var';
@import 'base/api.scss';

.app-button {
    min-height: 40px;
    background-color: transparent;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.31);

    i {
        color: rgb(188, 188, 188);
        text-shadow: 0;
    }

    &--small {
        height: 33px;
        min-height: 33px;
    }

    &--round {
        min-width: 40px;
        width: 40px;
        padding: 0;
    }

    &--round.app-button--small {
        width: 33px;
        min-width: 33px;
    }

    &--large {
        width: 230px;
        background-color: transparent;
    }

    &--danger,
    &--success {
        color: white;
        border-color: transparent;

        i {
            color: white;
        }
    }

    &--danger,
    &--hover-danger:hover {
        background-color: $primary-color;

        i {
            color: white;
        }
    }

    &--success {
        background-color: #aacc4e;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.app-label {
    min-width: 57px;
    height: 33px;
    border-radius: 5px;
    text-align: center;
    line-height: 33px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid rgb(222, 222, 222);
    color: rgb(191, 191, 191);
    display: flex;
    align-items: center;
    justify-content: center;

    &--danger {
        background-color: $primary-color;
        border-color: transparent;
        color: #ffffff;
    }

    &-text {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    small {
        font-size: 18px;
    }
}

.app-text {
    font-family: Tahoma;
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.31);

    &--cross {
        text-decoration: line-through;
        color:  rgba(131, 131, 131, 0.5);
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.31);
    }

    &--small {
        font-size: 18px;
    }
}

.app-avatar {
    position: relative;
    min-width: 40px;
    min-height: 40px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &--small {
        $size: 33px;
        min-width: $size;
        min-height: $size;
        width: $size;
        height: $size;
    }

    &__status {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #c5c5c5;
        border-radius: 50%;
        border: 1px solid #fff;
        top: 0;
        
        &--online {
            background-color: #aacc4e;
        }
    }
}

.app-form-control {
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: none;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    width: 340px;
    background-color: transparent;

    &::placeholder {
        color: #c1c1c1;
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.31);
    }

    &:focus,
    &:active {
        outline: none;
    }
}