.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
        left: 30px;
        right: 30px;
    }
    background-color: rgb(241, 241, 241);
    height: 100px;
    border-bottom: 1px solid #d3d7da;

    &__left-controls,
    &__right-controls {
        button:not(:first-child) {
            margin-left: 10px;
        }
    }
}
