$primary-color: #ff503f;
$secondary-color: #adadad;
$text-color: #4b4b4b;
$bg-color: #f1f1f1;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;
