@import 'base/mixins.scss';
$size: 31px;
.app-social {
    @include flex-center;
    font-size: $font-sm-small;
    color: $banner-color;
    i {
        min-width: $size;
        height: $size;
        line-height: $size;
        border-radius: 50%;
        background-color: $header-text-color;
        text-align: center;
        will-change: transition-duration;
        transition-duration: .5s;
        cursor: pointer;
        &:nth-child(2) {
            margin: {
                right: 10px;
                left: 10px;
            }
        }
        &:hover {
            color: $header-text-color;
            background-color: $banner-color;
        }
    }
    &-header {
        padding-top: 15px;
        @include mq('sm') {
            justify-content: flex-end;
            padding-top: 0;
        }
    }
    &-footer {
        margin-top: 7px;
        @include mq('sm') {
            margin-top: 0;
        }
        i {
            color: $header-text-color;
            background-color: $banner-color;
            &:hover {
                color: $banner-color;
                background-color: $header-text-color;
            }
        }
    }
}

.info-days__number {
    color: $text-color;
    font: {
        family: $treb-reg-font;
        size: 80px;
        weight: 400;
    }
    line-height: 100px;
    @include mq('sm') {
        font-size: 100px;
    }
}

.info-days__subtitle {
    text-align: justify;
    font: {
        size: 29px;
        weight: 400;
    }
    line-height: 32px;
    width: 160px;
}

.app-title {
    font-size: $font-sm-small;
    font-weight: 700;
    @include mq('lg') {
        font-size: $font-md-small;
    }
}

.offer-title {
    border-bottom: 1px solid #7f7f7f;
    margin: {
        bottom: 0;
    }
}

.number-title {
    font-weight: 400;
    line-height: 30px;
    margin: {
        top: 5px;
        bottom: 20px;
    }
}

.app-text {
    font: {
        family: $arial-reg-font;
        size: $font-xs-small;
        weight: 400;
    }
    line-height: 20px;
    margin-bottom: 27px;
    text-align: justify;
    @include mq('sm') {
        text-align: left;
    }
    &_bold {
        font: {
            weight: 700;
            size: 16px;
        }
        text-align: justify;
        margin-top: 27px;
        @include mq('sm') {
            text-align: left;
        }
    }
}

.app-subtitle {
    margin: {
        top: 20px;
        bottom: 10px;
    }
    font: {
        size: $font-sm-small;
        family: $arial-bold-font;
    }
}