
@font-face {
    font-family: 'Trebuchet MS Regular';
    src: url('fonts/TrebuchetMS.eot');
    src: url('fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrebuchetMS.woff') format('woff'),
    url('fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Minion Pro Regular';
        src: url('fonts/MinionPro-Regular.eot');
        src: url('fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MinionPro-Regular.woff') format('woff'),
        url('fonts/MinionPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
            font-family: 'Arial Bold';
            src: url('fonts/Arial-BoldMT.eot');
            src: url('fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
            url('fonts/Arial-BoldMT.woff') format('woff'),
            url('fonts/Arial-BoldMT.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            }

            @font-face {
                font-family: 'Arial Regular';
                src: url('fonts/ArialMT.eot');
                src: url('fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
                url('fonts/ArialMT.woff') format('woff'),
                url('fonts/ArialMT.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
                }