
@font-face {
    font-family: 'Trebuchet MS Regular';
    src: url('fonts/TrebuchetMS.eot');
    src: url('fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrebuchetMS.woff') format('woff'),
    url('fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }