$baner-color: #00bff3;
$header-text-color: #fff;
$text-color: #777;
$table-color: #ebebeb;
$light-black: #434343;
$light-grey: #a7a99a;
$blockquote-bg-color: #f0fbfe;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;