@charset "UTF-8";
input:active, textarea:active, select:active, button:active,
h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, input:hover, textarea:hover, select:hover, button:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, input:focus, textarea:focus, select:focus, button:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, input:visited, textarea:visited, select:visited, button:visited,
h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited, span:visited {
  outline: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  img {
    filter: Gray();
    filter: url("desaturate.svg#grayscale");
    filter: grayscale(100%); }

  a {
    text-decoration: underline;
    page-break-inside: avoid; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a:link,
  a:visited {
    color: #781351; }

  a[href="#"],
  a[href="javascript:"] {
    content: ""; }

  body {
    font-family: Georgia, ‘Times New Roman’, serif; }

  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap; }

  @page :left {
    margin: 1cm; }
  @page :right {
    margin: 1cm; }
  .embed-youtube,
  .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden; }

  blockquote, table, pre, ul, ol, dl,
  h1, h2, h3, h4, h5, h6, img {
    page-break-inside: avoid; }

  h1, h2, h3, h4, h5, h6, img {
    page-break-after: avoid; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body, html {
  height: auto; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

ul, ol {
  list-style-type: none; }

.app-btn {
  background-color: transparent;
  height: 40px;
  display: block;
  color: white;
  font-size: 24px;
  outline: none;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 4.5px;
  transition: .5s; }
  .app-btn-big {
    width: 150px;
    margin: 0 auto; }
    .app-btn-big:hover {
      color: #f74c55;
      background: white;
      cursor: pointer;
      box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.8);
      transform: skewX(10deg);
      transform-origin: center center; }
  .app-btn-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 20px;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: 0.5s; }
    .app-btn-plus:hover {
      color: black;
      background: white;
      cursor: pointer;
      border-radius: 50%; }
  .app-btn-btn-dark {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    width: 180px;
    display: block; }

.app-palitra {
  background: -webkit-linear-gradient(left, #ee732f 20%, #f74c55 0, #f74c55 40%, #2d5f3b 0, #2d5f3b 60%, #404040 0, #404040 80%, #fb636b 0);
  height: 30px;
  width: 175px; }

.app-multi-line {
  background: -webkit-linear-gradient(left, #ee732f 20%, #f74c55 0, #f74c55 40%, #2d5f3b 0, #2d5f3b 60%, #404040 0, #404040 80%, #fb636b 0);
  background-size: 178px;
  height: 10px;
  width: 100%;
  background-position: -43% 0; }

.app-title {
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .app-title {
      font-size: 25px; } }

* {
  box-sizing: border-box;
  font-family: Verdana !important; }

.main-header {
  height: 100vh;
  background-image: url("/img/header-bg.gif");
  background-position: left center;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .main-header {
      height: 50vh; } }
  .main-header__info {
    margin-top: 30px;
    text-align: center;
    color: white; }
    .main-header__info .info__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px; }
      @media only screen and (min-width: 768px) {
        .main-header__info .info__title {
          font-size: 40px; } }
    .main-header__info .info__subtitle {
      line-height: 16px;
      margin-bottom: 40px; }

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    .menu-list {
      justify-content: flex-end;
      flex-grow: 1;
      font-size: 18px; } }
  .menu-list__item {
    margin-bottom: 10px; }
    .menu-list__item:hover {
      text-decoration: underline;
      cursor: pointer;
      color: yellow; }
    @media only screen and (min-width: 768px) {
      .menu-list__item:nth-child(2n) {
        padding-left: 20px;
        padding-right: 20px; } }

.description {
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  text-align: center; }
  .description__title {
    margin-bottom: 35px;
    line-height: 30.5px; }
  .description__text {
    font-size: 14px;
    line-height: 21.5px;
    margin-bottom: 55px;
    text-align: justify; }
    @media only screen and (min-width: 768px) {
      .description__text {
        font-size: 16px; } }
  .description .app-palitra {
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .description .app-palitra {
        margin-left: 0; } }

.benefits {
  color: white; }
  .benefits-item {
    position: relative;
    text-align: justify;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%; }
    .benefits-item:first-of-type {
      background: #404040; }
    .benefits-item:nth-of-type(2) {
      background: #f74c55; }
    .benefits-item:last-of-type {
      background: #2d5f3b; }
    .benefits-item__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 22px;
      padding-bottom: 20px; }
      .benefits-item__title img {
        margin-right: 10px; }
      .benefits-item__title-text {
        font-size: 20px; }
    @media only screen and (min-width: 992px) {
      .benefits-item {
        padding-left: 40px;
        padding-right: 40px; } }
  .benefits .app-btn-plus {
    bottom: 30px;
    left: 80%; }
  .benefits__description {
    font-size: 14px;
    line-height: 21px; }

.footer {
  padding-top: 40px;
  color: white;
  background-image: url("img/footer-bg.jpg");
  background-size: cover;
  background-position: center center; }
  .footer .container {
    padding-left: 20px;
    padding-right: 20px; }
  .footer .app-multi-line {
    margin-top: 20px; }
  .footer .app-btn {
    margin: 0 auto; }
  .footer .app-title span {
    font-weight: 700; }

.copy {
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  color: #585858; }

/*# sourceMappingURL=style.css.map */
