@import "fonts";
@import "var";

.footer {
    &-block {
        max-width: calculateRem(864px);
        margin: 0 auto;
        font-family: $serif-klapt-medium-font;

        &__item {
            text-align: center;
            font-size: $font-xs;
            line-height: 140%;
            color: $primary-color;
            opacity: 0.3;
            text-transform: uppercase;

            &:last-of-type {
                padding-top: calculateRem(10px);
            }
        }
    }
}
