@import "var";
@import "base/mixins.scss";

.swiper {
    &-modules-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calculateRem(20px);
        margin: {
            top: calculateRem(30px);
        }
    }

    &-pagination {
        display: flex;
        gap: calculateRem(20px);

        &-bullet {
            width: calculateRem(8px);
            height: calculateRem(8px);
            background-color: $secondary-color;
            display: block;

            &-active {
                background-color: $primary-color;
            }
        }
    }

    &-button-next,
    &-button-prev {
        width: calculateRem(17px);
        height: calculateRem(30px);
        background-color: $primary-color;
    }

    &-button-next {
        clip-path: polygon(0 0, 100% 12px, 100% 18px, 0 100%);
    }

    &-button-prev {
        clip-path: polygon(0 12px, 100% 0, 100% 100%, 0 18px);
    }
}

@include mq("tablet") {
    .swiper {
        &-container,
        &-button-prev,
        &-button-next,
        &-pagination {
            display: none;
        }
    }
}
