$lightBrown: #ffb18b;

$xs-font-size: 12px;
$sm-font-size: 14px;
$md-font-size: 16px;
$bg-font-size: 18px;
$lg-font-size: 20px;
$xl-font-size: 20px;


$container-width: 1024px;

$font-fallback: Helvetica, Tahoma, 'Times New Roman', sans-serif;

