@import "fonts";
@import "var";
@import "base/mixins";

.header {
    background: {
        image: url('../assets/img/Top_bg.png');
        repeat: no-repeat;
        size: cover;
    }

    color: white;
    overflow: hidden;

    &-container {
        padding-top: 53px;
    }

    &-top-line {
        display: flex;
        justify-content: space-between;
        padding-left: 0;

        &_item {
            padding-left: 20px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    color: $lightBrown;
                }
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &-title {
        margin: {
            top: 42px;
            bottom: 31px;
        }
    }

    &-subtitle {
        font: {
            family: $aller_light;
            size: 37px;
        }

        line-height: 40px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    }

    &-text {
        margin: {
            top: 21px;
            bottom: 46px;
        }
    }
}

.app-nav {
    justify-content: flex-end;

    font: {
        size: 18px;
        family: $aller_regular;
    }

    text: {
        transform: uppercase;
        shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    }

}

.btn-block {
    display: flex;
    justify-content: flex-start;
    margin: {
        top: 10px;
        bottom: 60px;
    } 
}

.store-button {
  width: 195px;
  height: 67px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  background-color: black;
  padding-left: 11px;
  user-select: none;

  &:last-child {
      margin-left: 20px;
  }

  &__picture {
      margin-right: 8px;
  }

  &_subtitle {
      margin-top: 12px;
    font: {
        family: $ProximaNova_Bold;
        size: $xs-font-size;
    }
    text-transform: uppercase;
  }

  &_title {
    font: {
        family: $MyriadPro-Regular;
        size: 24px;
        weight: 400;
    }
    line-height: 24px;
    margin-top: 6px;
    text-transform: none;
  }
  &:hover {
      color: rgba(255, 255, 255, .7);
  }
}

.header-iphone1 {
    position: absolute;
    right: 0;
    bottom: -200px;
    z-index: 1;
    transition: 0.7s;

    &:hover {
        bottom: -75px;
    }
  }
  
  .header-iphone2 {
    position: absolute;
    left: 160px;
    bottom: -156px;
    transition: .7s;

    &:hover {
        bottom: 0;
    }
  }