@import "fonts";
@import "var";
@import "base/mixins";

.header-iphone1 {
  position: absolute;
  right: -252px;
  bottom: -286px;
  z-index: 1;
  transition: 0.7s;
}

.header-iphone1:hover {
  bottom: -10vh;
}

.header-iphone2 {
  position: absolute;
  right: -53px;
  bottom: -24vh;

  transition: .7s;
}

.header-iphone2:hover {
  bottom: -8vh;
}

// .header-top-line {
//   display: flex;
//   justify-content: space-between;
// }

// .header-top-line nav ul {
//   display: flex;
//   justify-content: space-between;
//   width: 326px;
//   font-size: 18px;
//   text-transform: uppercase;
//   padding-top: 38px;
//   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
//   cursor: pointer;
//   font-family: $aller_regular;
// }

.header-top-line nav ul li:hover {
  color: black;
}

.description {
  margin-top: 49px;
}

.header-main-title {
  font-size: 52px;
  font-family: $aller_regular;
}

.header-secondary-title {
  font-size: 37px;
  line-height: 40px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  margin-top: 29px;
  width: 560px;
  font-family: $aller_light;
}

.description p {
  font-size: 21px;
  line-height: 23px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  width: 450px;
  margin-top: 20px;
  font-family: $opensans_light;
}

.app-button {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  transition: 0.5s;
  font-size: 18px;
  font-family: $aller_bold;
  width: 410px;
  height: 67px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  margin-top: 45px;
  text-transform: uppercase;
}

.app-button:hover {
  color: black;
}

.shop-btn-block {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.app-store {
  box-sizing: border-box;
  width: 195px;
  height: 67px;
  display: flex;
  justify-content: flex-start;
  background-color: black;
}

.google-play {
  box-sizing: border-box;
  width: 195px;
  height: 67px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-left: 20px;
}

.app-spore-span1 {
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  font-family: $ProximaNova_Bold;
}

.app-store img {
  width: 32px;
  height: 40px;
  margin-top: 12px;
  margin-left: 11px;
}

span {
  display: block;
}

.app-spore-span2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  // font-family: 'MyriadPro-Regular', $font-fallback;
}

.shop-btn-description-app-store {
  margin: auto;
}

.google-play img {
  width: 36px;
  height: 41px;
  margin-top: 14px;
  margin-left: 13px;
}

.google-play-span1 {
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  font-family: $ProximaNova_Bold;
}

.shop-btn-description-google-play {
  margin: auto;
}

.google-play-span2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  // font-family: 'MyriadPro-Regular', $font-fallback;
}

main {
  height: 459px;
  border-bottom: 1px solid #cacdcf;
}

.second-container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
  color: #4e5b61;

}

.main-title {
  margin-top: 159px;
  font-family: $aller_bold;
  font-size: 36px;
  margin-left: -276px;
  text-transform: capitalize;
}

.main-text {
  font-family: $opensans_light;
  font-size: 19px;
  margin-left: -276px;
  margin-top: 10px;
}

.main-iphone {
  margin-left: -260px;
  transition: .7s;
}

.main-iphone:hover {
  transform: translateY(-270px);
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin-top: 36px;
  margin-left: -20px;

  div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(78, 91, 97, 0.5);
    cursor: pointer;

    &.active {
      background-color: #4e5b61;
    }

    &:hover:not(.active) {
      background-color: black;
    }
  }

}

  .main-buttons {
    width: 360px;
    height: 52px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: #cacdcf;
    font-size: 16px;
    font-family: $aller_regular;
  }

  .main-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cacdcf;
    width: 120px;
    cursor: pointer;
    transition: .5s;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: none;
    }

    &.active {
      background-color: #cacdcf;
      color: rgb(255, 255, 255);
    }

    &:hover:not(.active) {
      background-color: rgba(#cacdcf, .7);
      color: rgb(255, 255, 255);
    }
  }

  .main-buttons-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    background-color: white;
  }

  .features-menu {
    background-image: url('../assets/img/footer_bg.png');
    height: 500px;
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }

  .third-container {
    width: 960px;
    margin: 0 auto;
  }

  .features-menu-title {
    font-size: 52px;
    font-family: $aller_regular;
    font-weight: 700;
    margin-top: 59px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  }

  .features-menu-text {
    font-size: 37px;
    font-family: $aller_light;
    font-weight: 300;
    line-height: 40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 17px;
    width: 700px;
  }

  .contact {
    color: rgba(78, 91, 97, 0.8);
    height: 430px;
    border-bottom: 1px solid #cacdcf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .contact-container-comments-bryan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .contact-container-comments-bryan-quote {
    margin-left: 19px;

    h3 {
      text-transform: uppercase;
      font-family: $opensans_light;
      font-size: 21px;
      margin-bottom: 9px;
    }

    p {
      font-family: $opensans_light;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 282px;
    }
  }

  .contact-container-comments-sarah {
    display: flex;
    justify-content: space-between;
  }

  .contact-container-comments-sarah-quote {
    margin-left: 19px;

    h3 {
      text-transform: uppercase;
      font-family: $opensans_light;
      font-size: 21px;
      margin-bottom: 9px;
    }

    p {
      font-family: $opensans_light;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 282px;
    }
  }

  .contact-container-contact {
    margin-left: 58px;

    h2 {
      font-family: $aller_bold;
      font-size: 36px;
      margin-top: -20px;
      margin-bottom: 24px;
    }
    p {
      font-family: $opensans_light;
      font-size: 19px;
      width: 456px;
    }

    p:last-child {
      margin-top: 43px;
    }
  }

  footer {
    height: 94px;
    font-family: $aller_light;
    font-size: 16px;
  }

  .footer-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  .footer-left-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #4e5b61;
      font-weight: 300;
      line-height: 24px;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
      color: #a6adb0;
      font-weight: 300;
      padding: 0 6px;
    }

    li {
      padding: 0 6px;
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #a6adb0;
        top: 50%;
        left: -1.5px;
      }
      &:nth-child(3) {
        text-transform: uppercase;
      }
    }
  }

  .footer-left-text nav ul li:hover {
    color: #4e5b61;
  }

  .footer-right-text {
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #a6adb0;
    }

    li {
      padding: 0 6px;
      position: relative;
      cursor: pointer;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: #a6adb0;
      top: 50%;
      left: -1.5px;
    }
  }

  .footer-right-text nav ul li:hover {
    color: #4e5b61;
  }
