$lightBrown: #ffb18b;

$xs-font-size: 12px;
$sm-font-size: 14px;
$md-font-size: 16px;
$bg-font-size: 18px;
$lg-font-size: 20px;
$xl-font-size: 20px;
$font-fallback: Verdana, serif, sans-serif;


$aller_bold: 'aller_bold', $font-fallback;
$aller_light: 'aller_light', $font-fallback;
$aller_regular: 'aller_regular', $font-fallback;
$opensans_light: 'opensans_light', $font-fallback;
$ProximaNova_Bold: 'ProximaNova_Bold', $font-fallback;
