$lightBrown: #ffb18b;
$btn-color: #71a329;
$main-color: #4e5b61;

$xs-font-size: 12px;
$sm-font-size: 14px;
$md-font-size: 16px;
$bg-font-size: 20px;
$xl-font-size: 50px;
$font-fallback: Verdana, serif, sans-serif;


$aller_bold: 'aller_bold', $font-fallback;
$aller_light: 'aller_light', $font-fallback;
$aller_regular: 'aller_regular', $font-fallback;
$opensans_light: 'opensans_light', $font-fallback;
$ProximaNova_Bold: 'ProximaNova_Bold', $font-fallback;
$MyriadPro-Regular: 'MyriadPro-Regular', $font-fallback;