.welcome-block {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #262626;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 16px;
}

.welcome-block-title {
    text-transform: uppercase;
    font-family: 'robotolight';
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.welcome-block-description {
    font-size: 32px;
    font-family: robotobold;
    line-height: 46px;
    background: -webkit-linear-gradient(right, #d61a5e, #ff8c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-block-title-action {
    display: block;
    background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
    color: #fff;
    border-radius: 2px;
    padding: 13px 16px;
    font-size: 16px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-text {
    position: relative;
    z-index: 4;

    h2 {
        font-size: 42px;
        font-family: 'robotobold';
        color: #bb2762;
        margin-bottom: 30px;

        @include media(max-width $phone) {
			font-size: 40px;
			text-align: center;
			line-height: 60px;
		}
	}

        h5 {
            font-size: 22px;
            color: $white;
            line-height: 26px;
        }
    }