body {
    font-size: 14px;
    line-height: 24px;
    color: $body-color;
    font-family: 'robotoregular';
    overflow-x: hidden;
    background-color: #212121;
}

a {
    color: $accent;
    @include transition(all, 150ms, ease-in-out);
    text-decoration: none !important;

    &:hover {
        color: $heading-color;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $heading-color;
}

::-webkit-input-placeholder {
    color: $light-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $light-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $light-color;
}

:-ms-input-placeholder {
    color: $light-color;
}

.main-content,
.banner-bg {
    float: right;
    width: 77%;

    @include media(max-width 1290px) {
        width: 70%;
    }

    @include media(max-width $tablet) {
        width: 100%;
    }
}

.widget-title {
    font-size: 22px;
    color: #ff8c05;
    text-transform: uppercase;
    font-family: 'robotobold';

    @include media(max-width $phone) {
        text-align: center;
    }
}

.page-section {
    background-color: #262626;
    border-radius: 16px;
    margin-top: 24px;
    padding: 24px 16px;
}

.page-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}