#footer {
	p.copyright-text {
		margin: 40px 0;
		font-size: 13px;
		a {
			color: $dark-bg;
			&:hover {
				color: $accent;
			}
		}
	}
}

.top-button {
    right: 5%;
    border-radius: 50%;
    border: none;
    background-color: transparent; 
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    transition: .3s ease-out;
    display: none;
    color: $dark-bg;
    @include square(60px);
    position: fixed;
    bottom: 15%;
    i {
        font-size: 50px;
    }
    @include media(max-width $tablet) {
        right: 3%;
        &:before,
        &:after {
            @include pseudo;
            border: 1.5px solid $heading-color;
            left: -20px;
            right: -20px;
            top: -20px;
            bottom: -20px;
            border-radius: 50%;
            animation: top-button 1.8s linear infinite;
        }
        &:after {
            animation-delay: .3s;
        }
        &:hover {
            will-change: transform;
            transform: scale(0.9, 0.9);
            transition: .3s ease-out;
        }
    }
}

@keyframes top-button {
    0% {
        will-change: transform;
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        will-change: opacity;
        opacity: 1;
    }
    100% {
        will-change: transform;
        transform: scale(1.2);
        opacity: 0;
    }
}