@import 'var';
@import 'base/api.scss';
@import 'fonts';
.app-button {
    font: {
        family: 'Open Sans Regular' $font-fallback;
        size: $font-sm-small;
        weight: 600;
    }
    color: $button-text-color;
    background-color: $button-color;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 277px;
    height: 72px;
    border: none;
    cursor: pointer;
    user-select: none;
    display: block;
    margin: 0 auto;
    &-logo {
        color: #fff;
        font: {
            size: $font-lg-small;
            weight: 200;
        }
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 0;
        margin: 0;
        text-transform: capitalize;
    }
    &-header {
        margin: {
            top: 0;
            left: auto;
            right: auto;
            bottom: 30px;
        }
        @include mq('md') {
            margin: {
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
    &__copy {
        text-transform: capitalize;
        font-weight: 200;
        color: $header-title-color;
        background-color: #4266b3;
        height: 35px;
        border-radius: 5px;
        width: auto;
        padding: {
            left: 12px;
            right: 12px;
        }
        &:nth-of-type(2) {
            margin: {
                left: 15px;
                right: 0;
            }
            @include mq('md') {
                margin: {
                    right: 15px;
                }
            }
        }
        span {
            font-weight: 600;
            padding: {
                left: 5px;
                right: 5px;
            }
        }
    }
}

.app-title {
    font: {
        family: 'Open Sans Regular' $font-fallback;
        size: 25px;
        weight: 300;
    }
    &-header {
        color: $header-title-color;
        line-height: 35px;
        text-align: center;
        margin: {
            top: 30px;
            bottom: 22px;
        }
        @include mq('md') {
            font-size: $font-md-small;
            line-height: 30px;
            text-align: center;
        }
        @include mq('lg') {
            font-size: $font-lg-small;
            line-height: 50px;
            text-align: left;
        }
    }
    &-main {
        padding: {
            top: 40px;
        }
        color: $main-title-color;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        @include mq('md') {
            font-size: $font-md-small;
            line-height: 30px;
        }
        @include mq('lg') {
            line-height: 40px;
        }
        &__subtitle {
            font-size: $font-md-small;
            line-height: 30px;
            padding: {
                top: 80px;
                bottom: 60px;
            }
            @include mq('lg') {
                font-size: $font-lg-small;
                line-height: 40px;
            }
        }
        &--info {
            max-width: 882px;
            color: $header-title-color;
        }
    }
    &-main-section {
        padding-top: 15px;
        font: {
            size: $font-md-small;
        }
        text-align: center;
        @include mq('md') {
            padding-top: 0;
            font-size: 25px;
            text-align: left;
        }
        @include mq('lg') {
            font-size: $font-md-small;
            line-height: 50px;
            text-align: left;
        }
        color: $main-title-color;
    }
    &__footer {
        font: {
            family: 'Open Sans Bold' $font-fallback;
            size: $font-sm-small;
        }
        text-transform: uppercase;
        color: $footer-title-color;
        padding-bottom: 25px;
    }
}

.app-text {
    font: {
        family: 'Open Sans Regular' $font-fallback;
        size: $font-sm-small;
        weight: 300;
    }
    text-align: center;
    color: $header-text-color;
    @include mq('md') {
        text-align: left;
    }
    &-header {
        line-height: 30px;
        @include mq('md') {}
        margin-bottom: 36px;
    }
    &-header-under {
        width: 100%;
        font-size: $font-sm-small;
        color: #a4d1fc;
    }
    &-main-section {
        font-size: $font-sm-small;
        color: $main-text-color;
        padding-top: 25px;
        text-align: center;
        @include mq('md') {
            text-align: left;
        }
        @include mq('lg') {
            font-size: $font-sm-small;
            padding-top: 40px;
            line-height: 1.5em;
        }
    }
    &__info {
        text-align: center;
        color: $header-text-color;
        line-height: 30px;
        padding: {
            top: 35px;
            bottom: 35px;
        }
    }
    &__footer {
        color: $footer-text-color;
        line-height: 30px;
        @include mq('md') {
            text-align: left;
        }
        font: {
            weight: 400;
            size: 18px;
        }
        span {
            color: #3874ca;
        }
    }
}