@import 'base/api.scss';
.footer {
    margin: {
        top: 50px;
        bottom: 50px;
    }
    @include mq('md') {
        margin: {
            top: 100px;
            bottom: 100px;
        }
    }
    &-section {
        margin-bottom: 50px;
        @include mq('md') {
            margin-bottom: 150px;
        }
        &--item {
            padding-top: 20px;
            &:first-child {
                padding-top: 0;
            }
            @include mq('md') {
                padding-top: 0;
            }
            &__social {
                font-size: $font-md-small;
                i {
                    padding-right: 10px;
                    cursor: pointer;
                    &:first-child,
                    &:last-child {
                        color: #2d7dc1;
                    }
                    &:nth-child(2) {
                        color: #0883bd;
                    }
                    &:nth-child(3) {
                        color: #ec5451;
                    }
                    &:nth-child(4) {
                        color: #2ea9e0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    &-copy {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include mq('md') {
            flex-direction: row;
        }
        &-button {
            display: flex;
            padding-bottom: 15px;
        }
        &--text {
            font: {
                family: 'Open Sans Regular' $font-fallback;
                size: $font-sm-small;
                weight: 400;
            }
            color: $footer-text-color;
            text-align: center;
            @include mq('md') {
                text-align: left;
            }
        }
    }
}