@import 'var';
@import 'base/api.scss';
.swiper {
    height: 300px;

    &-container {
        width: 100%;
        border: {
            right: 1px solid $primary-color;
            bottom: 1px solid $primary-color;
            left: 1px solid $primary-color;
        }
        box-sizing: border-box;
    }

    &-wrapper {
        box-sizing: border-box;
    }

    &-button-next,
    &-button-prev
     {
        font: {
            size: $font-lg-small;
        }
        color: $primary-color;
        height: 100%;
        cursor: pointer;
        transform: translateY(-50%);
        margin-top: 0;
        &-right {
            border-right: 1px solid $primary-color;
        }
    }
    &-slide {
        height: 100%;
        padding-bottom: 15px;
        box-sizing: border-box;
        border: {
            right: 1px solid $primary-color;
        }

        &:last-of-type {
            border: {
                right: none;
            }
        }
       

        &__text {
            font: {
                family: 'Open Sans Regular' $font-fallback;
                size: $font-sm-small;
                weight: 700;
            }
            color: #315479;
            text-align: center;
            text-transform: uppercase;
            padding: {
                top: 30px;
                bottom: 15px;
            }
        }
        &__picture {
            display: flex;
            justify-content: center;
            height: 180px;
            img {
                object-fit: contain;
            }
        }
    }
}

.main-section {
    margin-top: 60px;
    @include mq('md') {
        margin-top: 80px;
    }
    &__title {
        padding-top: 40px;
    }
    &--picture {
        img {
            max-height: 380px;
            max-width: 100%;
        }
    }
}
.main-opinion {
    padding-bottom: 100px;
    &-item {
        font: {
            family: 'Open Sans Regular' $font-fallback;
            weight: 400;
        }
        padding-bottom: 20px;
        @include mq('md') {
            padding-bottom: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &__text {
            color: $header-title-color;
            font: {
                size: $font-xs-small;
            }
            line-height: 25px;
            background-color: #1e8aef;
            border-radius: 5px;
            position: relative;
            padding: {
                left: 50px;
                right: 40px;
                top: 35px;
                bottom: 35px;
            }
            @include mq('lg') {
                font-size: 18px;
            }
            &:after {
                content: '';
                position: absolute;
                background-color: $primary-color;
                left: 35px;
                bottom: -8px;
                width: 30px;
                height: 30px;
                z-index: -1;
                transform: rotate(65deg);
            }
        }
        &__name {
            font: {
                size: $font-sm-small;
            }
            color: $main-title-color;
            padding-top: 20px;
        }
        &__product {
            font: {
                family: 'Open Sans Regular' $font-fallback;
                size: $font-xs-small;
            }
            color: $main-text-color;
            padding-top: 10px;
        }
    }
}

.main-info {
    text-align: center;
    background-color: $primary-color;
    padding-bottom: 100px;
}
