@import 'var';
.nav {
    width: 103px;
    background-color: #252d34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: {
        top: 30px;
        bottom: 50px;
    }
    &-avatar-section {
        img {
            width: 88px;
            height: 88px;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-left: 4px solid transparent;
        height: 110px;
        font: {
            size: 18px;
            weight: 400;
        }
        cursor: pointer;
        margin-bottom: 25px;
        position: relative;
        .app-notifications {
            top: -17px;
            right: 10px;
        }
        &__text {
            color: #5f6162;
            font-size: 16px;
            font-family: Tahoma;
            margin-top: 18px;
        }
        &-icon {
            &__dots {
                font-size: 15px;
                margin-top: 30px;
            }
            &__main {
                font-size: 42px;
                margin-top: 20px;
            }
        }
        i {
            color: #787878;
        }
        span {
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
        }
        &:hover {
            border-left-color: $primary-color;
            color: #fff;
            .nav-item-icon__main {
                font-size: 42px;
                color: $primary-color;
            }
            .nav-item__text {
                color: #fff;
            }
        }
        &__nohover:hover {
            border-left-color: transparent;
        }
    }
}

.app-notifications {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    background-color: #adadad;
    font: {
        family: Tahoma;
        size: 16px;
    }
    &--danger {
        background-color: $primary-color;
    }
}
