$primary-color: #1e8aef;
$header-text-color: #d2e7fb;
$header-title-color: #fff;
$button-color: #9addfc;
$button-text-color: #335477;
$main-title-color: #315479;
$main-text-color: #677482;
$footer-title-color: #315479;
$footer-text-color: #323232;

$secondary-color: #adadad;
$text-color: #4b4b4b; 
$bg-color: #f1f1f1;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;