@import "base/mixins.scss";

.app-container {
    max-width: calculateRem(1140px);
    margin: 0 auto;
    padding: {
        left: calculateRem(30px);
        right: calculateRem(30px);
    }

    @include mq("tablet") {
        padding: {
            left: calculateRem(40px);
            right: calculateRem(40px);
        }
    }
}
