@import "fonts";
@import "var";
@import "base/mixins.scss";

.header {
    font-family: $serif-klapt-bold-font;
    text-transform: uppercase;
    position: relative;

    &__brand-arrow-icon {
        position: absolute;
        right: calculateRem(20px);
        top: calculateRem(220px);
        transform: rotate(180deg);
        height: 64px;
        width: 32px;
    }

    &__brand-rectangle-icon {
        position: absolute;
        left: calculateRem(30px);
        top: calculateRem(322px);
        transform: rotate(90deg);
        width: calculateRem(64px);
        height: calculateRem(12px);
    }

    &__brand-trapezium-icon {
        position: absolute;
        width: 88px;
        height: calculateRem(56px);
        left: -24px;
        top: 0;
        transform: rotate(-180deg);
    }

    &__logo {
        height: calculateRem(36px);
        display: block;
        margin: {
            bottom: calculateRem(50px);
            left: auto;
            right: auto;
        }
    }

    &-block {
        &__item {
            text-align: center;

            &:first-of-type {
                margin: {
                    bottom: calculateRem(50px);
                }
                img {
                    margin: 0 auto;
                    width: 100%;
                    max-width: calculateRem(500px);
                    display: block;
                }
            }

            &-subtitle {
                background: linear-gradient(
                    180deg,
                    rgb(255, 72, 0),
                    rgb(255, 255, 255)
                );
                margin-bottom: calculateRem(14px);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: $font-lg;
                line-height: 83%;
            }

            &-title {
                color: $secondary-color;
                font-size: calculateRem(50px);
                line-height: 90%;
                margin-bottom: calculateRem(40px);
            }
        }
    }
}

@include mq("tablet") {
    .header {
        &__logo {
            height: calculateRem(60px);
            margin: {
                bottom: calculateRem(70px);
            }
        }

        &-block {
            &__item {
                &:first-of-type {
                    display: none;
                }

                &:last-of-type {
                    max-width: calculateRem(707px);
                    margin: 0 auto;
                }

                &-subtitle {
                    margin-bottom: calculateRem(20px);
                    font-size: calculateRem(46px);
                    line-height: 83%;
                }

                &-title {
                    font-size: $font-xl;
                    margin-bottom: calculateRem(70px);
                }
            }
        }
    }
}

@include mq("desktop") {
    .header {
        &__brand-arrow-icon {
            position: absolute;
            right: auto;
            left: -10%;
            top: calculateRem(50px);
            width: auto;
            height: auto;
            transform: rotate(0deg);
        }

        &__brand-rectangle-icon {
            position: absolute;
            width: auto;
            height: auto;
            left: calc(50% - 8px);
            bottom: 6px;
            top: auto;
            transform: rotate(0deg);
        }

        &__brand-trapezium-icon {
            position: absolute;
            width: auto;
            height: auto;
            right: -13%;
            bottom: calculateRem(70px);
            left: auto;
            top: auto;
            transform: rotate(0deg);
        }

        &__logo {
            margin: {
                left: 0;
                right: 0;
            }
        }
        &-block {
            display: grid;
            grid-template-columns: calculateRem(450px) 6fr;
            gap: calculateRem(60px);

            &__item {
                text-align: left;

                &:first-of-type {
                    display: block;
                    order: 1;
                    width: 100%;
                    position: relative;
                    margin-bottom: 0;

                    img {
                        max-width: calculateRem(650px);
                        width: calculateRem(650px);
                        position: absolute;
                        top: calculateRem(-165px);
                    }
                }

                &:last-of-type {
                    order: 0;
                }
            }
        }
    }
}
