@import "fonts";
@import "var";
@import "base/mixins.scss";

.main {
    padding: {
        top: calculateRem(70px);
        bottom: calculateRem(50px);
    }

    &-block {
        display: none;

        &-item {
            &__picture-wrapper {
                margin-bottom: calculateRem(30px);
                position: relative;

                &::after,
                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: calculateRem(100px);
                    height: calculateRem(90px);
                    background-color: $primary-color;
                }

                &::after {
                    clip-path: polygon(
                        20px 20px,
                        20px 78px,
                        88px 78px,
                        100% 100%,
                        0 100%,
                        0 0
                    );
                    bottom: 0;
                    left: 0;
                }

                &::before {
                    clip-path: polygon(
                        100% 0,
                        100% 100%,
                        80px 70px,
                        80px 12px,
                        12px 12px,
                        0 0
                    );
                    top: 0;
                    right: 0;
                }

                img {
                    width: 100%;
                    display: block;
                    border: calculateRem(6px) solid $primary-color;
                    height: calculateRem(300px);
                    object-fit: cover;
                }
            }

            &__title {
                font: {
                    size: calculateRem(36px);
                    family: $serif-klapt-bold-font;
                }
                line-height: 90%;
                color: $primary-color;
                text-transform: uppercase;
                margin-bottom: calculateRem(30px);
            }

            &__description,
            &__action {
                font: {
                    family: $serif-roboto-regular-font;
                    size: calculateRem(18px);
                }
                line-height: 150%;
            }

            &__description {
                color: $secondary-color;
                margin-bottom: calculateRem(16px);
                height: calculateRem(100px);
                overflow-y: hidden;
            }

            &__action {
                text-decoration: underline;
                color: $primary-color;
                background-color: transparent;
            }
        }
    }
}

@include mq("tablet") {
    .main {
        padding: {
            top: calculateRem(100px);
            bottom: calculateRem(60px);
        }

        &-block {
            display: block;

            &-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: calculateRem(40px);
            }

            &-item {
                &__picture-wrapper {
                    margin-bottom: calculateRem(40px);
                    img {
                        height: calculateRem(340px);
                    }
                }

                &__title {
                    margin-bottom: calculateRem(30px);
                }

                &__description,
                &__action {
                    font-size: $font-sm;
                }

                &__description {
                    margin-bottom: calculateRem(20px);
                }
            }
        }
    }
}
