@import "base/index.scss";
@import "base/mixins.scss";
@import "var";

body {
    font-family: $serif-klapt-reg-font;
    background-color: $bg-color-dark;
    position: relative;
    overflow-x: hidden !important;
    padding: {
        top: calculateRem(30px);
        bottom: calculateRem(36px);
    }

    & .circle-left,
    & .circle-right {
        position: absolute;
        overflow: hidden !important;
        z-index: -1;
        width: calculateRem(300px);
        height: calculateRem(500px);
        border-radius: 50%;
        filter: blur(40px);
        background: radial-gradient(
            50% 50% at 50% 50%,
            rgb(0, 38, 255),
            rgba(255, 72, 0, 0) 100%
        );
    }

    & .circle-left {
        right: calculateRem(-150px);
        top: calculateRem(-55px);
        overflow: hidden !important;
    }

    & .circle-right {
        left: calculateRem(-150px);
        top: calculateRem(111px);
    }
}

@include mq("tablet") {
    body {
        padding: {
            top: calculateRem(80px);
        }

        & .circle-left,
        & .circle-right {
            width: calculateRem(1000px);
            height: calculateRem(1000px);
            border-radius: 50%;
            filter: blur(200px);
        }

        & .circle-left {
            left: calculateRem(-108px);
            right: auto;
            top: calculateRem(178px);
        }

        & .circle-right {
            left: auto;
            right: calculateRem(-108px);
            top: calculateRem(-390px);
        }
    }
}

@include mq("desktop") {
    body {
        padding: {
            top: calculateRem(126px);
            bottom: calculateRem(60px);
        }
    }
}

@import "components";
@import "slider";
@import "form";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
