$primary-color: #FF4800;
$secondary-color: #fff;
$bg-color-dark: #000;
$error-color: #fc2d2d;
$success-color: #67cf35;
$bg-form-color: #d9d9d9;

$font-fallback: Verdana, serif, sans-serif;
$font-xs: 14px;
$font-sm: 20px;
$font-md: 30px;
$font-lg: 40px;
$font-xl: 60px;
$serif-reg-font: 'Klapt-Cyrillic-Regular', $font-fallback;
$serif-medium-font: 'Klapt-Cyrillic-Medium', $font-fallback;
$serif-bold-font: 'Klapt-Cyrillic-Bold', $font-fallback;
$serif-roboto-regular-font: 'Roboto-Regular', $font-fallback;