$light-brown: #f3f1ec;
$brown: #808369;
$vanil: #ffb18b;
$dark-grey: #63656a;
$light-black: #434343;
$grey: #63656a;
$light-green: #22c07b;
$light-grey: #f8f8f8;
$font-fallback: Verdana, serif, sans-serif;
$font-xs-small: 14px;
$font-sm-small: 20px;
$font-md-small: 30px;
$font-lg-small: 40px;