@import "fonts.css";
@import "var";
@import "base/api.scss";

header {
  color: $brown;
  font-family: 'pt_serifbold', $font-fallback;
  text-transform: uppercase;
}

.header-top-line {
  position: relative;
  background-color: $light-brown;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 56px;
    font-size: $font-xs-small;
    font-weight: 700;
    cursor: pointer;

    &-item {
      border-left: 1px solid #d0ceca;
      padding: 0 25px;

      &:hover {
        color: black;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.header-title-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 51px;
  height: 110px;
  background: {
    image: url("img/Vector Smart Object.png");
    repeat: no-repeat;
    position: bottom center;
  }
  font-size: $font-xs-small;
  letter-spacing: 1px;

  &__contacts {
    text-align: right;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-phone {
      padding-left: 5px;
      transform: scale(-1, 1);
      filter: flipH();
    }
  }

  &__title {
    text-align: center;
    h1 {
      font-family: 'yellowtailregular', $font-fallback;
      font-size: 45px;
      color: #434343;
      line-height: .7;
      text-transform: none;
    }

    p {
      margin-top: 14px;
      text-transform: uppercase;
    }
  }

  &__basket {
    text-align: right;
    line-height: 20px;
    font-weight: 700;
    width: 180px;

    i.fa.fa-shopping-cart {
      padding-right: 5px;
    }
  }
}

.header-catering {
  min-height: 773px;
  background: {
    repeat: no-repeat;
    position: top center;
    size: contain;
    image: url("img/test.png");
  }
  margin-bottom: 110px;
  padding-top: 245px;
  position: relative;

  &__text {
    font-size: 60px;
    color: #fff;
    text-align: center;
    position: relative;

    &:before,
    &:after {
      @include pseudo;
      width: 111px;
      height: 2px;
      background-color: white;
      left: 50%;
      transform: translate(-50%);
    }

    &:before {
      top: -50px;

    }
    &:after {
      bottom: -50px;
    }
  }

  &-circles {
    display: flex;
    justify-content: space-between;
    width: 84px;
    margin: 89px auto 0;

    &__item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(#fff, .5);
      cursor: pointer;

      .active {
        background-color: #4e5b61;
      }

      &:hover:not(active) {
        background-color: #fff;
      }
    }
  }

  i.fa.fa-angle-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
  }
}