@import url(fonts.css);
.app-catering {
  font-family: "yellowtailregular", Verdana, serif, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-top: 106px;
  height: 473px; }
  .app-catering .col {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative; }
    .app-catering .col .fa-angle-down {
      display: block;
      position: absolute;
      bottom: -5px;
      left: 50%;
      color: #808369;
      font-size: 16px;
      cursor: pointer; }
    .app-catering .col:first-child {
      background-image: url("img/Events.png");
      margin-right: 30px; }
    .app-catering .col:nth-child(2) {
      background-image: url("img/Food&Drinks.png");
      margin-right: 30px; }
    .app-catering .col:nth-child(3) {
      background-image: url("img/Venues.png"); }

.app-about {
  background-image: url("img/About bg.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 110px; }
  .app-about-section {
    padding-bottom: 110px;
    padding-top: 110px; }
    .app-about-section-picture {
      background-image: url("img/about-us-im.png");
      background-position: center center;
      background-size: cover;
      height: 541px; }
    .app-about-section-story {
      background-color: #fff; }
      .app-about-section-story__title {
        font-family: "pt_serifbold", Verdana, serif, sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        text-align: left;
        padding-left: 86px;
        padding-top: 94px;
        color: #808369; }
      .app-about-section-story__text {
        padding-top: 36px;
        color: #929292;
        font-family: "pt_serifregular", Verdana, serif, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 86px;
        width: 385px;
        box-sizing: content-box; }
        .app-about-section-story__text span {
          font-family: "pt_serifbold", Verdana, serif, sans-serif;
          font-size: 22px;
          color: #434343; }
  .app-about .app-menu {
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 106px;
    text-transform: uppercase;
    color: #808369; }
    .app-about .app-menu-item {
      background-repeat: no-repeat;
      background-color: #fff;
      background-position: center 15px;
      position: relative;
      border-bottom: none;
      width: 240px;
      height: 270px;
      margin-right: 20px; }
      .app-about .app-menu-item p {
        background-image: radial-gradient(at top, #f5f5f3 19px, white 120px, white 240px);
        height: 95px;
        width: 240px;
        position: absolute;
        bottom: 0;
        text-align: center;
        padding-top: 27px; }
      .app-about .app-menu-item:nth-child(1) {
        background-image: url("img/canapes.png"); }
      .app-about .app-menu-item:nth-child(2) {
        background-image: url("img/small_plates.png"); }
      .app-about .app-menu-item:nth-child(3) {
        background-image: url("img/sweets.png"); }
      .app-about .app-menu-item:nth-child(4) {
        background-image: url("img/drinks.png");
        margin-right: 0; }
      .app-about .app-menu-item .fa-angle-down {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        color: #808369;
        font-size: 16px;
        cursor: pointer;
        background-color: #f3f2ed;
        width: 38px;
        height: 19px;
        text-align: center;
        line-height: 30px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        transform: translateX(-50%); }
  .app-about-quote {
    text-align: center;
    font-family: "pt_serifbold", Verdana, serif, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #808369;
    padding-top: 56px; }

.app-services {
  font-family: "pt_serifbold", Verdana, serif, sans-serif; }
  .app-services h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #808369;
    margin-bottom: 55px;
    margin-top: 55px;
    position: relative; }
    .app-services h4:first-child {
      margin-top: 0; }
  .app-services p {
    font-size: 14px;
    color: #929292;
    font-weight: 400;
    line-height: 24px; }
  .app-services-left-text {
    counter-reset: section;
    text-align: right; }
    .app-services-left-text h4:before {
      content: "";
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      top: 34px;
      right: 0; }
    .app-services-left-text h4:after {
      content: "0" counter(section);
      counter-increment: section;
      position: absolute;
      font-size: 40px;
      font-weight: 700;
      line-height: 28px;
      color: #eae8e0;
      display: block;
      right: -62px;
      top: 2px;
      box-sizing: border-box; }
  .app-services-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .app-services-right-text {
    counter-reset: list 3;
    text-align: left; }
    .app-services-right-text h4:before {
      content: '';
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      top: 34px;
      left: 0; }
    .app-services-right-text h4:after {
      content: "0" counter(list);
      counter-increment: list;
      position: absolute;
      font-size: 40px;
      font-weight: 700;
      line-height: 28px;
      color: #eae8e0;
      display: block;
      left: -62px;
      top: 2px;
      box-sizing: border-box; }

.app-book {
  background-image: url("img/Depositphotos_24590415_original copy.png");
  background-color: #f3f1ec;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  margin-bottom: 110px;
  margin-top: 110px;
  padding-bottom: 119px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif; }
  .app-book .app-testimonials {
    margin-top: 159px; }
    .app-book .app-testimonials-description {
      height: 259px;
      position: relative;
      background-color: white; }
      .app-book .app-testimonials-description p {
        font-size: 20px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        color: #808369;
        padding-top: 88px;
        position: relative; }
        .app-book .app-testimonials-description p:before {
          content: url("img/Depositphotos_26240763_original.png");
          display: block;
          width: 95px;
          height: 95px;
          position: absolute;
          top: 0;
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
          border: 8px solid #f3f1ec;
          border-radius: 50%;
          box-sizing: content-box; }
      .app-book .app-testimonials-description .fa-angle-left,
      .app-book .app-testimonials-description .fa-angle-right {
        display: block;
        top: 50%;
        position: absolute;
        color: #808369;
        font-size: 16px;
        cursor: pointer;
        background-color: #f3f2ed;
        width: 52px;
        height: 52px;
        text-align: center;
        line-height: 52px;
        border-radius: 50%; }
        .app-book .app-testimonials-description .fa-angle-left.left,
        .app-book .app-testimonials-description .fa-angle-right.left {
          transform: translateX(-50%) translateY(-50%);
          left: 0; }
        .app-book .app-testimonials-description .fa-angle-left.right,
        .app-book .app-testimonials-description .fa-angle-right.right {
          transform: translateX(50%) translateY(-50%);
          right: 0; }
    .app-book .app-testimonials-quote {
      font-size: 14px;
      color: #929292;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 711px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 68px;
      margin: 0 auto;
      background-color: #fbfbfa;
      background-image: repeating-linear-gradient(90deg, white 0%, #f7f7f5 50%, white 100%); }

.app-blog {
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 15px;
  height: 453px;
  font-family: "pt_serifbold", Verdana, serif, sans-serif;
  text-align: center;
  margin-bottom: 110px; }
  .app-blog p {
    padding-top: 233px;
    font-size: 14px;
    color: #808369;
    text-transform: uppercase;
    font-weight: 700; }
  .app-blog h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #434343;
    text-transform: capitalize;
    position: relative;
    width: 280px;
    margin: 0 auto; }
    .app-blog h6:after {
      content: "";
      display: block;
      position: absolute;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%); }
  .app-blog:nth-child(1) {
    background-image: url("img/Depositphotos_92197920_original.png"); }
  .app-blog:nth-child(2) {
    background-image: url("img/Depositphotos_70224577_original.png"); }
  .app-blog:nth-child(3) {
    background-image: url("img/Depositphotos_10888700_original.png"); }

/*# sourceMappingURL=main.css.map */
